.vh-100 {
 
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .container-fluid.h-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .bg-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .bg-primary .text-white {
    margin-bottom: 0;
  }