<table class="table caption-top">
    <caption><h1>Permission List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>add users</td>
        <td>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"><i class="fas fa-pen"></i> </button> 
          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;"><i class="fas fa-trash"></i></button>
          </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>edit users</td>
        <td>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"><i class="fas fa-pen"></i> </button> 
          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;"><i class="fas fa-trash"></i></button>
          </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>delete users</td>
        <td>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"><i class="fas fa-pen"></i> </button> 
          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;"><i class="fas fa-trash"></i></button>
          </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>show users</td>
        <td>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"><i class="fas fa-pen"></i> </button> 
          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;"><i class="fas fa-trash"></i></button>
          </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>add permission</td>
        <td>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"><i class="fas fa-pen"></i> </button> 
          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;"><i class="fas fa-trash"></i></button>
          </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>assign permission to role</td>
        <td>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"><i class="fas fa-pen"></i> </button> 
          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;"><i class="fas fa-trash"></i></button>
          </td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Mark</td>
        <td>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"><i class="fas fa-pen"></i> </button> 
          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;"><i class="fas fa-trash"></i></button>
          </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>assign permission to user</td>
        <td>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"><i class="fas fa-pen"></i> </button> 
          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;"><i class="fas fa-trash"></i></button>
          </td>
      </tr>
      
    </tbody>
</table>


<!-- edit-->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-permission-edit></app-permission-edit>
  </div>
 </div>
</div>

   <!-- delete-->
  <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-permission-delete></app-permission-delete>
    </div>
  </div>
</div>
