<table class="table caption-top">
    <caption><h1>Permission List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of permession">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>
          <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited(item.id,item)">
            <i class="fas fa-pen"></i> </button> 
         <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted(item.id, item)">
            <i class="fas fa-trash"></i></button>
      
              <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="dropdown" >
                <i class="bi bi-three-dots"></i> 
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="onAssignPermessionTorole(item)" ></a></li>
                <li><a class="dropdown-item" >assign permession to role</a></li>  
              </ul>
            
        </td>
      </tr>
      
    </tbody>
</table>

<div *ngIf="show" class="modal-backdrop fade show"></div>
<!-- edit-->
<div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-permission-edit [permissionId]="selectedID" [permissionData]="selectedData" (closeModal)="onCloseModal()"></app-permission-edit>
  </div>
 </div>
</div>

   <!-- delete-->
   <div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-m"><div class="modal-content">
    <app-permission-delete [permissionId]="selectedID" [permissionData]="selectedData" (closeModal)="onCloseModal()"></app-permission-delete>
    </div>
  </div>


   <!-- delete-->
   <div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-m"><div class="modal-content">
    <app-assign-role-to-user [permissionData]="selectedData" (closeModal)="onCloseModal()"></app-assign-role-to-user>
    </div>
  </div>
</div>
