<table class="table caption-top">
    <caption><h1>Permission List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of permession">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;" (click)="trackPemission(item.id,item)"><i class="fas fa-pen"></i> </button> 
          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;" (click)="trackPemission(item.id,item)"><i class="fas fa-trash"></i></button>
          </td>
      </tr>
      
    </tbody>
</table>


<!-- edit-->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-permission-edit [permissionId]="selectedID" [permissionData]="selectedData"></app-permission-edit>
  </div>
 </div>
</div>

   <!-- delete-->
  <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m"><div class="modal-content">
    <app-permission-delete [permissionId]="selectedID" [permissionData]="selectedData"></app-permission-delete>
    </div>
  </div>
</div>
