
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h3 mb-0 text-gray-800">Dashboard</h2>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Client cart -->
        <div class="col-xl-3 col-md-6 mb-4">
           <app-client-cart (dataclient)="trackdata($event)"></app-client-cart>
        </div>

        <!-- freelancer cart-->
        <div class="col-xl-3 col-md-6 mb-4">
           <app-freelancer-cart (datafreelancert)="trackdatafreelancer($event)"></app-freelancer-cart>
        </div>

        <!--Post cart-->
        <div class="col-xl-3 col-md-6 mb-4">
           <app-post-cart (datapost)="trackdatapost($event)"></app-post-cart>
        </div>

        <!-- contract cart -->
        <div class="col-xl-3 col-md-6 mb-4">
         <app-contract-cart (datacontract)="trackdatacontract($event)"></app-contract-cart>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-30 col-lg-10 " style="margin-left: 70px; ">
            <canvas id="mychart">{{chart}} </canvas>
       <!-- <img src="/assets/img/Infographics_Update_.width-1000.jpg" alt="QSDQDS"> -->
        </div>

        <!-- <div class="col-xl-4 col-lg-5">
           
        </div> -->
    </div>

<!-- 
    <div class="row">

        <div class="col-lg-6 mb-4">

        </div>

        <div class="col-lg-6 mb-4">
      
            
        </div>
    </div> -->

</div>