<div class="card-box text-center">
    <img
      src="https://bootdey.com/img/Content/avatar/avatar7.png"
      class="rounded-circle avatar-xl img-thumbnail"
      alt="profile-image"
    />
    <h4 class="mb-0">Khalil Alami</h4>
    <p class="text-muted">&#64;Maroc Telecom</p>

       



<div>
 
  <div class="side-links"> 
    <ul class="list-group list-group-flush text-start p-4">
      <li class="list-group-item mt-2 "> <h2 class="mt-4"><i class="bi bi-gear"></i> Paramètres</h2></li>
      <li class="list-group-item mt-2 "> <a routerLink="client-infos">Mes infromations</a></li>
      <li class="list-group-item mt-2"><a routerLink="client-offers">Mes offres</a></li>
      <li class="list-group-item mt-2"><a routerLink="client-contracts">Mes contacts</a></li>
      <li class="list-group-item mt-2"><a routerLink="client-subscription">Mes abonnements</a></li>
    </ul>
  </div>
</div>

   
  </div>