<div class="card-box text-center">

  <div *ngIf="isLoading; else dataLoaded">
    <app-skeleton></app-skeleton>
  </div>
  <ng-template #dataLoaded>
    <div>
    <img
      src="assets/img/gallery/user-profile-client-1.png"
      class="rounded-circle avatar-xl img-thumbnail"
      alt="profile-image"
    />
    <h4 class="mb-0">{{client.user.name}}</h4>
    
    <p class="text-muted">&#64;{{client.company_name}}</p>

       



<div>
 
  <div class="side-links"> 
    <ul class="list-group list-group-flush text-start p-4">
      <li class="list-group-item mt-2 "> <h2><i class="bi bi-gear"></i> Paramètres</h2></li>
      <li class="list-group-item mt-2 "> <a routerLink="client-infos">Mes infromations</a></li>
      <li class="list-group-item mt-2"><a routerLink="client-offers">Mes offres</a></li>
      <li class="list-group-item mt-2"><a routerLink="client-contracts">Mes contacts</a></li>
      <li class="list-group-item mt-2"><a routerLink="client-subscription">Mes abonnements</a></li>
    </ul>
  </div>
</div>

</div>
</ng-template>
  </div>