<div class="card-box">


    <div>
        <div class="row mt-4 mb-4" >
        
            <span class="col-lg-11 col-sm-6 col-md-6"><h5 class="text-uppercase">Concernant</h5></span>
            <span class="col-lg-1 col-sm-6 col-md-6">
          
                    
                    <h4 class="col-6"><a (click)="openModalEdit()" class="text-danger" style="cursor: pointer;"><i class="bi bi-pencil-square"></i></a></h4>
          
              </span>
              
        </div>
        <p class="text-muted font-13 mb-3">
          Hi I'm Johnathn Deo,has been the industry's standard dummy text
          ever since the 1500s, when an unknown printer took a galley of
          type.
        </p>
    </div>




      <!-- modal edit -->
      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayEdit}">
        <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                          <h4 class="modal-title">Concernant</h4>
                          <button type="button" class="close" aria-label="Close"  class="btn btn-light" (click)="onCloseHandledEdit()"><span aria-hidden="true">&times;</span></button>
                        </div>
              <div class="modal-body">
                          <app-freelancer-update-about></app-freelancer-update-about>
                        </div>
                    <div class="modal-footer">
                          <button type="button" class="btn btn-default" class="btn btn-light" (click)="onCloseHandledEdit()" >Close</button>
                        </div>
          </div>
            </div>
        </div>

          <!-- end modal edit -->


</div>

