<div class="card-box">
  <div>
    <div class="row mt-4 mb-4">
      <div class="col-lg-11 col-sm-6 col-md-6">
        <h5 class="text-uppercase">Concernant</h5>
      </div>
      <div class="col-lg-1 col-sm-6 col-md-6">
        <h4><a (click)="onEdited(freelancerdata?.id, freelancerdata)" class="text-danger" style="cursor: pointer;"><i class="bi bi-pencil-square"></i></a></h4>
      </div>
    </div>



        <!-- Skeleton loader -->
        <div *ngIf="isLoading" class="container mb-3">
          <div class="pb-0 px-3 skeleton-card" *ngFor="let i of [1]">
            <div class="card-body">
              <div class="skeleton-title"></div>
              <div class="skeleton-description"></div>
              <div class="skeleton-budget"></div>
              <div class="skeleton-description"></div>
              <div class="skeleton-budget"></div>
            </div>
          </div>
        </div>
      </div>


    <div class="form-group" *ngIf="!isLoading">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" readonly>
        {{freelancerdata?.summary}}
      </textarea>
    </div>
    
  <!-- modal edit -->
  <div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <app-freelancer-update-about [freelancerData]="selectedData" [freelancerID]="selectedID" (closeModal)="onCloseModal()"></app-freelancer-update-about>
      </div>
    </div>
  </div>
  <!-- end modal edit -->
</div>


