
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

       <!-- sidebar -->
        <app-admin-leftbar></app-admin-leftbar>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               <!-- top-bar -->
                <app-admin-topbar></app-admin-topbar>
              <!-- write here  -->
              <router-outlet></router-outlet>


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



    </div>



