<!-- Footer Section Begin ============================-->
<section class="bg-200 pt-9 pb-0 mt-4">
    <div class="container mt-4">
      <div class="row">
        <!-- Branding Column -->
        <div class="col-12 col-lg-4 mb-3">
          <a href="#">
            <span class="d-inline-block text-1000 fs-1 ms-2 fw-medium lh-base">
              <span class="fw-bold text-danger">PULSE.</span>freelancer
            </span>
          </a>
          <p class="my-3">
            <span class="fw-medium">PULSE.freelancer</span> Là où le talent rencontre l'opportunité.
          </p>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="text-decoration-none" href="#!">
                <i class="bi bi-facebook text-danger"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#!">
                <i class="bi bi-twitter text-danger"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#!">
                <i class="bi bi-instagram text-danger"></i>
              </a>
            </li>
          </ul>
          <p class="text-400 my-3">&copy; 2024 PULSE.digital</p>
        </div>
  
        <!-- Empty Column for Future Content or Spacing -->
        <div class="col-6 col-sm-4 col-lg-3 mb-3">
        </div>
  
        <!-- About Us Column -->
        <div class="col-6 col-sm-4 col-lg-3 mb-3">
          <h5 class="lh-lg">Qui somme nous ?</h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a href="#!">FAQ?</a></li>
            <li class="lh-lg"><a href="#!">Question</a></li>
          </ul>
        </div>
  
        <!-- Contact Us Column -->
        <div class="col-12 col-sm-4 col-lg-2 mb-3 ps-xxl-7 ps-xl-5">
          <h5 class="lh-lg">Nous contacter</h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a href="mailto:support@pulse.digital">Par mail</a></li>
            <li class="lh-lg"><a href="https://wa.me/1234567890">Par whatsapp</a></li>
          </ul>
        </div>
  
        <!-- Horizontal Rule -->
        <hr class="opacity-25" />
  
        <!-- Footer Note -->
        <div class="text-400 text-center">
          <p>
            made with&nbsp;
            <i class="bi bi-suit-heart-fill text-danger"></i>&nbsp;by&nbsp;
            <a class="text-900" href="https://pulse.digital/" target="_blank">PULSE.digital</a>
            <img src="/favicon.ico" alt="" width="20" />
          </p>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- Footer Section End ============================-->
  