<nav
  class="navbar navbar-expand-lg navbar-light py-3"
  data-navbar-on-scroll="data-navbar-on-scroll"
>
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">
      <span class="text-1000 fs-1 ms-2 fw-medium">
        <span class="fw-bold main-logo">PULSE.</span>freelancer
      </span>
    </a>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav mx-auto pt-2 pt-lg-0"
        *ngIf="!authService.isLoggedIn()"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""
            >Acceuil</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="nosvaleurs"
            >Nos valeurs</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="nospacks"
            >Nos packs</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="avisclient"
            >Avis client</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="contact"
            >Contact</a
          >
        </li>
      </ul>

      <ul
        class="navbar-nav mx-auto pt-2 pt-lg-0"
        *ngIf="authService.isLoggedIn() && roles == 'client_role'"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""
            >Acceuil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="../pulse/client-profile/client-offers-open"
            >Mes offres</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="../pulse/client-profile/client-contracts"
            >Mes contracts</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="../pulse/client-profile/client-wishlist"
            >Mes favoris</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../pulse/view-freelancers"
            >Prestataires</a
          >
        </li>
      </ul>

      <ul
        class="navbar-nav mx-auto pt-2 pt-lg-0"
        *ngIf="authService.isLoggedIn() && roles == 'freelancer_role'"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""
            >Acceuil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="../pulse/freelancer-dashboard/freelancer-profile"
            >Mes informations</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="../pulse/freelancer-dashboard/freelancer-offers-open"
            >Mes offres</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="../pulse/freelancer-dashboard/freelancer-contracts"
            >Mes contracts</a
          >
        </li>
      </ul>

      <!-- Authentication buttons (visible when not logged in) -->
      <span class="d-flex py-3 py-lg-0" *ngIf="!authService.isLoggedIn()">
        <button
          class="btn btn-link text-1000 fw-medium order-1 order-lg-0"
          type="button"
          routerLink="../login"
        >
          Se connecter
        </button>
        <button
          class="btn btn-outline-danger rounded-pill order-0"
          type="submit"
          routerLink="../register"
        >
          Créer un compte
        </button>
      </span>

      <!-- Logged in user information -->
      <div class="text-uppercase fw-medium">
        <strong>{{ username }}</strong>
      </div>
      &nbsp;&nbsp;
    </div>

    <!-- Dropdown for client role -->
    <span *ngIf="roles == 'client_role'">
      <div class="dropdown" *ngIf="authService.isLoggedIn()">
        <img
          src="assets/img/gallery/client-template.png"
          alt="Dropdown Toggle"
          (click)="toggleDropdown()"
          class="dropdown-toggle-img rounded-circle"
        />
        <div
          class="small-text dropdown-menu"
          [class.show]="dropdownOpen"
          aria-labelledby="dropdownMenuButton"
        >
          <a
            class="dropdown-item custom-link custom-button"
            routerLink="../pulse/add-offer"
            (click)="selectOption('add-offer')"
            ><i class="bi bi-plus-lg"></i>&nbsp;Nouveau projet</a
          >
          <a
            class="dropdown-item custom-link"
            routerLink="../pulse/client-profile"
            (click)="selectOption('profile')"
            >Profile</a
          >
          <a
            class="dropdown-item custom-link"
            routerLink="../home/contact"
            (click)="selectOption('dashboard')"
            >Contactez nous</a
          >
          <hr />
          <a
            class="dropdown-item custom-link text-danger"
            (click)="authService.logout()"
            style="cursor: pointer"
            ><i class="bi bi-box-arrow-left"></i> Se déconnecter</a
          >
        </div>
      </div>
    </span>

    <!-- Dropdown for freelancer role -->
    <span *ngIf="roles == 'freelancer_role'">
      <div class="dropdown" *ngIf="authService.isLoggedIn()">
        <img
          src="assets/img/gallery/images.png"
          alt="Dropdown Toggle"
          (click)="toggleDropdown()"
          class="dropdown-toggle-img rounded-circle"
        />
        <div
          class="small-text dropdown-menu"
          [class.show]="dropdownOpen"
          aria-labelledby="dropdownMenuButton"
        >
          <a
            class="dropdown-item custom-link"
            routerLink="../pulse/offers"
            (click)="selectOption('profile')"
            >Découvrir des offres</a
          >
          <a
            class="dropdown-item custom-link"
            routerLink="../pulse/freelancer-dashboard/freelancer-profile"
            (click)="selectOption('profile')"
            >Profile</a
          >
          <a
            class="dropdown-item custom-link"
            routerLink="../home/contact"
            (click)="selectOption('dashboard')"
            >Contactez nous</a
          >
          <hr />
          <a
            class="dropdown-item custom-link text-danger"
            (click)="authService.logout()"
            style="cursor: pointer"
            ><i class="bi bi-box-arrow-left"></i> Se déconnecter</a
          >
        </div>
      </div>
    </span>
  </div>
</nav>
