




    <div class="container card mt-4">
      <div class="py-5 text-center">
        
        <h2>Postuler un offre , et laisser le reste pour nous !</h2>
      </div>
      
      <div class="row justify-content-center ">
       
        <div class="col-md-8 order-md-1 ">
          <h4 class="mb-3">Détails de l'offre</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Titre</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Saisissez le titre !
                </div>
              </div>
              <div class="col-md-6 mb-3">
                
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Localisation</label>
                <select class="form-control">
                  <option>--none--</option>
                </select>
                <div class="invalid-feedback">
                  choisir votre localisation !
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="firstName">Type</label>
                <select class="form-control">
                  <option>--none--</option>
                </select>
                <div class="invalid-feedback">
                  choisissez une type !
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="desc">Description </label>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Periode</label>
                <select class="form-control">
                  <option>--none--</option>
                </select>
                <div class="invalid-feedback">
                  Periode est obligatoire !
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="firstName">budget</label>
                <select class="form-control">
                  <option>--none--</option>
                </select>
                <div class="invalid-feedback">
                  Budget est obligatoire !
                </div>
              </div>
            </div>

           
            <hr class="mb-4">
          
            <button class="btn btn-outline-danger btn-lg btn-block mb-4" type="submit" >Poster !</button>
          </form>
        </div>
      </div>
    


    </div>

  


