


<div  class="container">


  <button   type="button" class="btn btn-primary btn-sm" (click)="ContractAdd()">
    <i class="fas fa-paperclip fa-sm text-white-50"></i>&nbsp;Contrat
  </button>
   <app-contract-table></app-contract-table>    


</div>


<div *ngIf="showContractAddF" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m">
    <div class="modal-content">
      <app-freelancer-contract-add (closeModal)="onCloseModal2()"></app-freelancer-contract-add>
    </div>
  </div>
</div>

<div *ngIf="showContractAdd" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m">
    <div class="modal-content">
      <app-client-contract-add (closeModal)="onCloseModal2()"></app-client-contract-add>
    </div>
  </div>
</div>
  





