.vh-100{
    margin-top: 5%;
  }
  a{
    margin-left: 30px;
    width: 100px; /* Adjust width */
            height: 100px; /* Adjust height */
  }
 svg{
    margin-top: 50px;
    width: 100px; /* Adjust width */
    height: 100px; /* Adjust height */
 }