<div class="card-box">
    <div class="tab-content">
      <div class="tab-pane show active" id="about-me">
        <h5 class="mb-4 text-uppercase">
            <span class="link-texts">
               Mes abonnements
            </span>

          </h5>
        <!-- begin -->
        <div class="container mb-3 ">
          <div class="card pb-0 px-3 ">
            <div class="card-body ">
              <div class="row ">
                <div class="col-12">
                  <span class="link-texts"><h4 class="card-title">Pack Entreprise </h4> </span>
                </div>
                <div class="col mt-4">
                  <h6 class="row card-subtitle mb-2 ">


                      <div class="col-lg-6">
                        <span>Date d'achat : </span>
                        <span class="text-muted">27/01/2024</span>
                      </div>
                      <div class="col-lg-6">
                        <span>Date d'expiration : </span>
                        <span class="text-muted">27/01/2025</span> 
                      </div>

                  </h6>
                  <div class="row mt-4">
                    <span class="col-lg-10"></span>
                    <span class="col-lg-2 "><button class="btn btn-outline-danger">Renouveler</button></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>