<nav class="navbar navbar-expand-lg navbar-light  py-3" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand" routerLink="home"><span class="text-1000 fs-1 ms-2 fw-medium"><span class="fw-bold text-danger" >
      <!-- <img src="assets/img/gallery/p white0.png" alt="" width="50" /> -->
      PULSE.</span>freelancer</span></a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto  pt-2 pt-lg-0">
          <li class="nav-item"><a class="nav-link active active" aria-current="page" routerLink="home">Acceuil</a></li>
          <li class="nav-item"><a class="nav-link" href="#nosvaleurs">Nos valeurs</a></li>
          <li class="nav-item"><a class="nav-link" href="#nospacks">Nos packs </a></li>
          <li class="nav-item"><a class="nav-link" href="#avisclient">Avis client</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact </a></li>
        </ul>
        <form class="d-flex py-3 py-lg-0">
          <button class="btn btn-link text-1000 fw-medium order-1 order-lg-0" type="button" routerLink="../login">Sign in</button>
          <button class="btn btn-outline-danger rounded-pill order-0" type="submit" routerLink="../register">Sign Up</button>
        </form>
      </div>
    </div>
  </nav>