<form action="">
    <label for="exampleFormControlTextarea1">Votre role</label>
    <input class="form-control" type="text" name="role" id="" value="Lead designer / Developer">
    <label for="exampleFormControlTextarea1">Nom de l'entreprise</label>
    <input class="form-control" type="text" name="company" id="" value="Maroc telecom">
<div class="row">
        <div class="col-6">
            <label for="exampleFormControlTextarea1">Date début</label>
            <input class="form-control" type="date" name="startdate" id="" value="25/01/2023">
        </div>
        <div class="col-6">
            <label for="exampleFormControlTextarea1">Date fin</label>
            <input class="form-control" type="date" name="enddate" id="">
        </div>
</div>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Votre mission </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"  >Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
    </textarea>
  </div><br>
  <button class="btn btn-outline-danger">Modifier</button>
</form>