<section >
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
       
        
          <form>


            <!-- First Name input -->
            <div class="form-outline mb-4">
              <label for="exampleInputEmail1">Nom de l'entreprise</label>
              <input type="text" id="form3Example1" class="form-control form-control-lg"
                placeholder="Enter your first name" value="Maroc Telecom" />
         
            </div>

            <!-- Last Name input -->
            <div class="form-outline mb-4">
              <label for="exampleInputEmail1">Domaine d'activité</label>
              <input type="text" id="form3Example2" class="form-control form-control-lg"
                placeholder="Enter your last name" value="Réseaux et telecom" />
       
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <label for="exampleInputEmail1">Email de l'entreprise</label>
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" value="maroc@telecom.ma" />
     
            </div>


            <!-- Image innput -->
            <div class="form-outline mb-4">
                <label for="exampleInputEmail1">Changer l'image de votre entreprise</label><br>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-danger btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Modifier</button>
            
            </div>
          </form>
        </div>
    
    </div>
   
  </section>