<section >
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
       
        
          <form>


            <!-- First Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form3Example1" class="form-control form-control-lg"
                placeholder="Enter your first name" value="Khalil" readonly/>
         
            </div>

            <!-- Last Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form3Example2" class="form-control form-control-lg"
                placeholder="Enter your last name" value="Alami" readonly/>
       
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" value="khalil@gmail.com" readonly/>
     
            </div>

            <!-- Profession input -->
            <div class="form-outline mb-4">
                <input type="text" id="form3Example7" class="form-control form-control-lg"
                    placeholder="Changer votre profession" />
    
                </div>

            <!-- Company input -->
            <div class="form-outline mb-4">
                <input type="text" id="form3Example6" class="form-control form-control-lg"
                    placeholder="Changer votre entreprise" />
    
                </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Changer mot de passe" />
 
            </div>

            <!-- Confirm Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example5" class="form-control form-control-lg"
                placeholder="Confirmer mot de passe" />
    
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-danger btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Modifier</button>
            
            </div>
          </form>
        </div>
    
    </div>
   
  </section>