<body>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="../../../../assets/img/gallery/forgot-password.png"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div
          class="mb-4 forget-password-container col-md-8 col-lg-6 col-xl-4 offset-xl-1"
        >
          <h2>Mot de passe oublié</h2>

          <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="password">Entrez votre E-mail </label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
              />
            </div>
            <div>{{ notifiy }}</div>

            <button
            *ngIf="!isloading"
              type="submit"
              class="mt-4 btn btn-danger"
              [disabled]="!forgetPasswordForm.valid"
            >
              Envoyer
            </button>

            <button *ngIf="isloading" class="btn btn-danger mt-4" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              Envoi...
            </button>


          </form>
          <p class="small fw-bold mt-2 pt-1 mb-0">
            Avez-vous déjà un compte?
            <a routerLink="../login" class="link-danger">Se connecter</a>
          </p>
          <p class="small fw-bold mt-2 pt-1 mb-0">
            <a routerLink="../" class="link-danger"
              >Retour à la page d'accueil</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
