<form [formGroup]="form" (ngSubmit)="updated()" >
    <label for="exampleFormControlTextarea1">Votre nom</label>
    <input class="form-control" type="text" name="name" id="" formControlName="name">
    <label for="exampleFormControlTextarea1" >Votre profession</label>
    <input class="form-control" type="text" name="profession" id="" formControlName="title">
    <label for="exampleFormControlTextarea1" >Votre TJM</label>
    <input class="form-control" type="number" name="tjm" id="" formControlName="TJM">
    <br>
  <button type="submit" class="btn btn-outline-danger">Modifier</button>
</form>