<form action="">
    <label for="exampleFormControlTextarea1">Votre nom</label>
    <input class="form-control" type="text" name="name" id="" value="sami quarro">
    <label for="exampleFormControlTextarea1">Votre profession</label>
    <input class="form-control" type="text" name="profession" id="" value="Maroc telecom">
    <label for="exampleFormControlTextarea1">Votre TJM</label>
    <input class="form-control" type="number" name="tjm" id="" value="50">
    <br>
  <button class="btn btn-outline-danger">Modifier</button>
</form>