<table class="table caption-top">
    <caption><h1>Users List</h1></caption>
    <thead>
      <tr >
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of user">
        <th scope="row">{{item.id}}</th>
        <td> {{item.name }} </td>
        <td>{{item.email}}</td>
        <td style="color: black;"><app-role-user  [userID]="item.id"></app-role-user></td>
      
        <td>
          <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited(item.id,item)">
            <i class="fas fa-pen"></i> </button> 
         <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted(item)">
            <i class="fas fa-trash"></i></button>
         <button class="btn btn-secondary btn-sm" style="margin-right: 5px;" (click)="ondetails(item)">
           <i class="bi bi-file-plus"></i></button>
        </td>
      </tr>
      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav> -->
    </tbody>
</table>    

<div *ngIf="show" class="modal-backdrop fade show"></div>
  <!-- edit -->
  <div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-users-edit (closeModal)="onCloseModal()" [userId]="selectedId" [userdata]="selectUser"></app-users-edit>
    </div>
  </div>
  </div>
  <!-- delete -->
  <div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-users-delete  (closeModal)="onCloseModal()"></app-users-delete>
    </div>
    </div>
  </div>
<!-- daitals -->
<div *ngIf="showdetails" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-user-details [user]="selectUser"  (closeModal)="onCloseModal()"></app-user-details>
    </div>
  </div> 
  </div>