<table class="table caption-top">
    <caption><h1>Users List</h1></caption>
    <thead>
      <tr >
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of user">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>Otto</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;">
                <i class="fas fa-pen"></i> 
            </button> 
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete">
                <i class="fas fa-trash"></i> 
            </button>
            <button type="button" class="btn  btn-sm" data-bs-toggle="modal" data-bs-target="#details">
              <i class="fas fa-toggle-on"></i> 
          </button>
          </td>
      </tr>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </tbody>
</table>    


  <!-- edit -->
  <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-users-edit></app-users-edit>
    </div>
  </div>
  </div>
  <!-- delete -->
  <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-users-delete></app-users-delete>
    </div>
    </div>
  </div>
<!-- daitals -->
  <div class="modal fade" id="details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-user-details></app-user-details>
    </div>
  </div> 
  </div>