<div class="modal-header">
    <h2 class="modal-title fs-5" id="exampleModalLabel">Supprimer permission</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>
   
     <div class="modal-body">

      <h3>Êtes-vous sûr de vouloir supprimer permission : {{permissionData?.name}} ?</h3>
       
    
      </div>
      <h5 style="color: red; margin-left: 10px;">{{errorhandling}} </h5> 
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">Fermer</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleted()">Supprimer</button>
       </div>
