<div class="card-box">
  <div class="tab-content">
    <div class="tab-pane show active" id="about-me">
      <div class="row align-items-center mb-4">
        <span class="col-6 col-md-6 d-flex justify-content-start">
          <h5 class="text-uppercase">Experience</h5>
        </span>
        <span class="col-6 col-md-6 d-flex justify-content-end">
          <h4>
            <a
              (click)="openModalAdd()"
              class="text-danger"
              style="cursor: pointer"
            >
              <i class="bi bi-plus-circle"></i>
            </a>
          </h4>
        </span>
      </div>

      <!-- Skeleton loader -->
      <div *ngIf="isLoading" class="container mb-3">
        <div class="pb-0 px-3 skeleton-card" *ngFor="let i of [1, 2, 3, 4, 5]">
          <div class="card-body">
            <div class="skeleton-title"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-budget"></div>
          </div>
        </div>
      </div>

      <ul
        class="list-unstyled timeline-sm"
        *ngIf="!isLoading && experienceData!.length > 0"
      >
        <li class="timeline-sm-item" *ngFor="let item of experienceData">
          <span class="timeline-sm-date"
            >{{ getYear(item.startDate) }} - {{ getYear(item.endDate) }}</span
          >
          <h5 class="mt-0 mb-1">
            <span class="row">
              <span class="col-6 col-md-6 d-flex justify-content-start">
                {{ item.title }}
              </span>
              <span class="col-6 col-md-6 d-flex justify-content-end">
                <a
                  (click)="openModalEdit(item)"
                  class="text-danger"
                  style="cursor: pointer"
                >
                  <i class="bi bi-pencil-square"></i>
                </a>
                &nbsp;
                <a
                  (click)="openDeleteModal(item.id)"
                  class="text-danger"
                  style="cursor: pointer"
                >
                  <i class="bi bi-x-square"></i>
                </a>
              </span>
            </span>
          </h5>
          <span
            >&#64;{{ item.companyName }}. <i class="bi bi-geo-alt-fill"></i
            >{{ item.country }} - {{ item.city }}</span
          >
          <p class="text-muted mt-2">{{ item.description }}</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- Modal Add -->
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayAdd }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Expérience</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            (click)="onCloseHandledAdd()"
          ></button>
        </div>
        <div class="modal-body">
          <app-freelancer-add-experience
            (experienceAdded)="onExperienceAdded()"
          ></app-freelancer-add-experience>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit -->
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayEdit }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modifier l'expérience</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            (click)="onCloseHandledEdit()"
          ></button>
        </div>
        <div class="modal-body">
          <app-freelancer-update-experience
            (experienceUpdated)="onExperienceUpdated()"
          ></app-freelancer-update-experience>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete -->
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayDelete }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Supprimer expérience</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            (click)="onCloseHandledDelete()"
          ></button>
        </div>
        <div class="modal-body">
          <p>Êtes-vous sûr de vouloir supprimer cette expérience ?</p>
        </div>
        <div class="modal-footer">
          <button
          *ngIf="!isSubmitting"
            type="button"
            class="btn btn-danger"
            (click)="confirmDeleteExperience()"
          >
            Supprimer
          </button>

          <button *ngIf="isSubmitting" class="btn btn-danger " type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Suppression...
          </button>



        </div>
      </div>
    </div>
  </div>
</div>
