<table class="table caption-top">
    <caption><h1>Roles List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>
            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"><i class="fas fa-pen"></i> </button> 
            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" style="margin-right: 5px;"><i class="fas fa-trash"></i></button>
            <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#details" style="margin-right: 5px;"> <i class="bi bi-file-plus"></i></button>
          </td>
      </tr>
      
    </tbody>
</table>    

<!-- add -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-role-edit></app-role-edit>
  </div>
 </div>
</div>

   <!-- edit -->
  <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-role-delete></app-role-delete>
    </div>
  </div>
</div>

   <!-- delete -->
   
  <div class="modal fade" id="details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm"><div class="modal-content">
     <app-role-details></app-role-details>
    </div>
  </div>  