<table class="table caption-top">
    <caption><h1>Roles List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
       
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of role">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
       
        <td>
            <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited(item.id,item)">
              <i class="fas fa-pen"></i> </button> 
           <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted(item.id, item)">
              <i class="fas fa-trash"></i></button>
           <button class="btn btn-secondary btn-sm" style="margin-right: 5px;" (click)="ondetails(item.id, item)">
             <i class="bi bi-file-plus"></i></button>
          </td>
      </tr>
      
    </tbody>
</table>    
<!-- Backdrop -->
<div *ngIf="show" class="modal-backdrop fade show"></div>
<!-- add -->
<div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-role-edit [roleID]="selectedID" [roleData]="selectedRole" (closeModal)="onCloseModal()" ></app-role-edit>
  </div>
 </div>
</div>

<!-- Delete Modal -->
<div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m">
    <div class="modal-content">
      <app-role-delete [roleID]="selectedID" [roleData]="selectedRole" (closeModal)="onCloseModal()"></app-role-delete>
    </div>
  </div>
</div>
   <!-- details -->
   
  <div *ngIf="showdetails" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-sm"><div class="modal-content">
     <app-role-details (closeModal)="onCloseModal()"></app-role-details>
    </div>
  </div>  