<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Contract</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>
    <form [formGroup]="form">
     <div class="modal-body">
          <!-- title -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="title" aria-describedby="emailHelp">
      </div>
      
      <!-- perdio -->
     <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Period</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="period" aria-describedby="emailHelp">
      </div>
     
      
       <!-- buget -->
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">budget</label>
        <input type="number" class="form-control" id="exampleInputEmail1" formControlName="budget" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
       <!-- description -->
       <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Porject description</label>
        <input type="number" class="form-control" id="exampleInputEmail1" formControlName="project_description" aria-describedby="emailHelp">
      </div>
     
       <!-- client -->
      <select class="form-select form-select-m mb-3" aria-label="Small select example">
        <option selected>Client</option>
        <option value="1" *ngFor="let item of client">{{item.user.name}}</option>
       
      </select>
      <!-- freelancer -->
      <select class="form-select form-select-m mb-2" aria-label="Small select example">
        <option selected>Freelancer</option>
        <option value="1" *ngFor="let item of freelancer">{{item.user.name}}</option>
    
      </select>
      
      </div>
       
      <h5 style="color: red; margin-left: 10px;">{{errorhandling}} </h5> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="submit" class="btn btn-success" >Save changes</button>
       </div>
    </form>