<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Contract</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>
    <form [formGroup]="form" (ngSubmit)="add()">
     <div class="modal-body">
          <!-- title -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">titre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="title" aria-describedby="emailHelp">
      </div>
      
      <!-- perdio -->
      <div class="row">
        <div class="col-6">
          <label for="startDate">Date début</label>
          <input class="form-control" type="date" id="startDate" formControlName="startDate">
        </div>
        <div class="col-6">
          <label for="endDate">Date fin</label>
          <input class="form-control" type="date" id="endDate" formControlName="endDate">
        </div>
      </div>
      
          <!-- Error message for date range -->
          <div *ngIf="form.errors?.['dateRangeInvalid']" class="alert alert-danger">
            La date de fin ne peut pas être antérieure à la date de début.
          </div>
     
      
       <!-- description -->
       <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleInputEmail1" formControlName="project_description" aria-describedby="emailHelp"></textarea>
      </div>
     

    

       <!-- client -->
       <label for="Client">Client</label>
      <select class="form-select form-select-m mb-3" aria-label="Small select example" formControlName="client_id" (change)="eventlistclient($event)" >
        <option value="1" *ngFor="let cli of client" [value]="cli.id">{{cli.user.name}}</option>
      </select>

      <!-- freelancer -->
      <label for="Freelancer">Freelancer</label>
      <select class="form-select form-select-m mb-2" aria-label="Small select example" formControlName="freelancer_id" (change)="eventlistFreelancer($event)">
        <option value="1" *ngFor="let item of freelancer" [value]="item.id">{{item.user.name}}</option>
    
      </select>
      
      </div>
       
      <h5 style="color: red; margin-left: 10px;">{{errorhandling}} </h5> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
        <button type="submit" class="btn btn-outline-success">Ajouter</button>
       </div>
    </form>