<div class="modal-header">
  <h4 class="modal-title">Mes informations</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="updated()">
      <div class="form-group">
        <label for="name">Nom complet</label>
        <input id="name" formControlName="name" class="form-control" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="title">Titre</label>
        <input id="title" formControlName="title" class="form-control" />
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date de naissance</label>
        <input id="dateOfBirth" formControlName="dateOfBirth" class="form-control" type="date" />
      </div>
      <div class="form-group">
        <label for="city">Ville</label>
        <select id="city" formControlName="city" class="form-control">
          <option *ngFor="let city of moroccanCities" [value]="city">{{ city }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="TJM">TJM</label>
        <input id="TJM" formControlName="TJM" class="form-control" type="number" min="1"/>
      </div>
      <div class="form-group">
        <label for="availability">Disponibilité</label>
        <select id="availability" formControlName="availability" class="form-control">
          <option *ngFor="let status of availability" [value]="status">{{ status }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="address">Addresse</label>
        <input id="address" formControlName="adress" class="form-control" />
      </div>
      <div class="form-group">
        <label for="phone">Telephone</label>
        <input type="number" formControlName="phone" class="form-control" />
      </div>
      <div class="form-group">
        <label for="portfolio_Url">Portfolio URL</label>
        <input id="portfolio_Url" formControlName="portfolio_Url" class="form-control" />
      </div>
      <h5 style="color: red; margin-left: 10px;">{{ errorhandling }} </h5>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal">Modifier</button>
      </div>
  </form>
</div>
