

<div class="card-box">
    <div class="tab-content">
      <div class="tab-pane show active" id="about-me">
        <h5 class="mb-4 text-uppercase">
          <span class="link-texts"
            >
            <a routerLink="../client-contracts" >Mes contracts</a></span
          >
        </h5>
        <!-- begin -->
        <div class="container mb-3 ">
          <div class="card pb-0 px-3 ">
            <div class="card-body ">
              <div class="row ">
                <div class="col-12">
                  <h4 class="card-title"><a (click)="openModal()" >Contract #34 <span class="text-muted">- Application Mobile Innovante</span></a> </h4>
                </div>
                <div class="col">
                  <h6 class="row card-subtitle mb-2 ">
                      <span>Client : Amine Karimi</span>
                      <span>Budget : 4000 DH</span>
                      <span>Periode : 6 mois</span>
                      <p class="card-text text-muted ">Signé le 09/07/2024</p>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
          
         

          <!-- Modal -->
          <div id="myModal" class="modal" [ngClass]="{'show': isModalOpen}">
            <div class="modal-content">
             <div class="row">
              <span class="col-10"></span>
              <span class="close col-2" (click)="closeModal()" >&times;</span>
             </div>
              
              <app-user-contract-download></app-user-contract-download>
            </div>
          </div>



      </div>
    </div>
  </div>


 


