<form action="">
    <label for="inputtext">Nom du savoir faire</label>
    <input class="form-control" type="text" >
    <div class="form-group">
        <label for="exampleFormControlSelect1">Votre niveau</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>débutant</option>
          <option>intermédiaire</option>
          <option>bonne maitrise</option>
          <option>avancé</option>
          <option>expert</option>
        </select>
      </div><br>
    <button class="btn btn-outline-danger" type="submit">Ajouter</button>
</form>