<div class="modal-header">
    <h2 class="modal-title fs-5" id="exampleModalLabel">Modifier admin</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>
    <form [formGroup]="form" (ngSubmit)="updated()" >
     <div class="modal-body">

      <!-- Username -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nom complet</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
      </div>

       <!-- email -->
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Email </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
      </div>

      <!-- rolse -->
      <div class="mb-3 ">
      <select class="form-select form-select-m" aria-label="Small select example" >
        <option selected>role</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      </div>
       
      <!-- permission -->
      <div class="mb-3 ">
      <select class="form-select form-select-m" aria-label="Small select example">
        <option selected>permission</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
       </div>
      </div>
      <h5 style="color: red; margin-left: 10px;">{{errorhandling}} </h5> 
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="close()">Fermer</button>
        <button type="submit" class="btn btn-primary" >Modifier</button>
       </div>
    </form>