
<table class="table caption-top">
  
    <caption><h1>Admins List</h1> </caption>
    
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users of user">
        <th scope="row">{{users.id}}</th>
        <td>{{users.name}}</td>
        <td>{{users.email}}</td>
      
        <td>
           
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 5px;" (click)="trackAdmin(users.id,users)">
            <i class="fas fa-pen"></i> 
          </button> 
          
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      
    </tbody>
</table> 
v>

     <!-- edit -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-m"><div class="modal-content">
        <app-admin-edit [UserId]="selectedID" [UserData]="selectedUser"  ></app-admin-edit>
      </div>
    </div>
  </div>

     <!-- delete -->
     
    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm"><div class="modal-content">
        <app-admin-delete [userId]="selectedID" [userData]="selectedUser" ></app-admin-delete>
      </div>
    </div>  
    