
<table class="table caption-top">
  
    <caption><h1>Admins List</h1> </caption>
    
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users of user">
        <th scope="row">{{users.id}}</th>
        <td>{{users.name}}</td>
        <td>{{users.email}}</td>
      
        <td>
          <td>
            <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited(users.id,users)">
              <i class="fas fa-pen"></i> </button> 
           <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted(users.id, users)">
              <i class="fas fa-trash"></i></button>
        
          </td>
      </tr>
      
    </tbody>
</table> 

<div *ngIf="show" class="modal-backdrop fade show"></div>
     <!-- edit -->
     <div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-m"><div class="modal-content">
        <app-admin-edit [UserId]="selectedID" [UserData]="selectedUser"  (closeModal)="onCloseModal()"></app-admin-edit>
      </div>
    </div>
  </div>

     <!-- delete -->
     
     <div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">      <div class="modal-dialog modal-sm"><div class="modal-content">
        <app-admin-delete [userId]="selectedID" [userData]="selectedUser" (closeModal)="onCloseModal()"></app-admin-delete>
      </div>
    </div>  
    