
<div class="search-bar">
  <input 
    type="text" 
    class="form-control" 
    placeholder="Rechercher dans freelancers" 
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchTermChange()">
</div>
<table class="table caption-top">
  <caption><h2>Liste des freelancers</h2></caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom complet</th>
      <th scope="col">Titre</th>
      <th scope="col">Email</th>
      <th scope="col">TJM</th>
      <th scope="col">Disponibilité</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Compte</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let freelancer of  filteredFreelancersVariable; let i=index">
      <th scope="row">{{ i + 1}}</th>
      <td>{{ freelancer?.user?.name }}</td> 
      <td>{{ freelancer.title }}</td>
      <td>{{ freelancer?.user?.email }}</td> 
      <td>{{ freelancer.TJM }}</td>
      <td>{{ freelancer.availability }}</td>
      <td>{{ freelancer.phone }}</td>
      <td [ngClass]="{'text-success': (freelancer?.phone && freelancer?.summary), 'text-danger': !(freelancer?.phone && freelancer?.summary)}">
        {{ (freelancer?.phone && freelancer?.summary) ? 'Complet' : 'Incomplet' }}
      </td>
      <td>{{freelancer?.status}}</td>
      <td>
        <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited(freelancer.id, freelancer)">
          <i class="fas fa-pen"></i>
        </button>
        <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted(freelancer.id, freelancer)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
      <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [ngClass]="{'active': i + 1 === currentPage}">
      <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
    </li>

    <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
      <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<div *ngIf="show" class="modal-backdrop fade show"></div>
<!-- edit -->
<div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m">
    <div class="modal-content">
      <app-freelancer-edit [freelancerID]="slecteID" [freelancerData]="selectedData" (closeModal)="onCloseModal()"></app-freelancer-edit>
    </div>
  </div>
</div>

<!-- delete -->
<div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m">
    <div class="modal-content">
      <app-freelancer-delete [freelancerID]="slecteID" [freelancerData]="selectedData" (closeModal)="onCloseModal()"></app-freelancer-delete>
    </div>
  </div>
</div>
