<table class="table caption-top">
    <caption><h1>Freelancers List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Email</th>
        <th scope="cole">Password</th>
        <th scope="col">TJM</th>
        <th scope="col">Availability</th>
        <th scope="col">Phone</th>
        <th scope="col">account</th>
        <th scope="col">status</th>

        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let freelnacer of  freelancers">
        <th scope="row">{{ freelnacer.id}}</th>
        <td>{{ freelnacer.user.name }}</td>
        <td>{{ freelnacer.title }}</td>
        <td>{{ freelnacer.user.email }}</td>
        <td>{{ freelnacer.user.password }} </td>
        <td>{{ freelnacer.TJM }}</td>
        <td>{{ freelnacer.availability }}</td>
        <td>{{ freelnacer.phone }}</td>
        <td  [ngClass]="{'text-success': (freelnacer?.phone && freelnacer?.summary), 'text-danger': !(freelnacer?.phone && freelnacer?.summary)}">{{ (freelnacer?.phone && freelnacer?.summary) ? 'Complet' : 'Incomplet' }}</td>
        <td>{{freelnacer.status}}</td>
        <td>
          <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited(freelnacer.id,freelnacer)">
            <i class="fas fa-pen"></i> </button> 
         <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted(freelnacer.id, freelnacer)">
            <i class="fas fa-trash"></i></button>
      
        </td>
      </tr>
      
    </tbody>
</table>    

<div *ngIf="show" class="modal-backdrop fade show"><button (click)="onCloseModal()"></button></div>


  <!-- edit -->
  <div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-freelancer-edit [freelancerID]="slecteID" [freelancerData]="selectedData" (closeModal)="onCloseModal()"></app-freelancer-edit>
  </div>
</div>
</div>
<!-- delete -->
<div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-freelancer-delete [freelancerID]="slecteID" [freelancerData]="selectedData" (closeModal)="onCloseModal()"></app-freelancer-delete>
  </div>
</div>  

