<table class="table caption-top">
    <caption><h1>Freelancers List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Email</th>
        <th scope="col">TJM</th>
        <th scope="col">Availability</th>
        <th scope="col">Phone</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let freelnacer of  freelancers">
        <th scope="row">{{ freelnacer.id}}</th>
        <td>{{ freelnacer.user.name }}</td>
        <td>{{ freelnacer.title }}</td>
        <td>{{ freelnacer.user.email }}</td>
        <td>{{ freelnacer.TJM }}</td>
        <td>{{ freelnacer.availability }}</td>
        <td>{{ freelnacer.phone }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit" style="margin-right: 5px;"  (click)="trackFreelancer(freelnacer,freelnacer.id)">
            <i class="fas fa-pen"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" (click)="trackFreelancer(freelnacer,freelnacer.id)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      
    </tbody>
</table>    




  <!-- edit -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-freelancer-edit [freelancerID]="slecteID" [freelancerData]="selectedData"></app-freelancer-edit>
  </div>
</div>
</div>
<!-- delete -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-freelancer-delete [freelancerID]="slecteID" [freelancerData]="selectedData"></app-freelancer-delete>
  </div>
</div>  

