<div class="modal-header">
    <h2 class="modal-title fs-5" id="exampleModalLabel">Supprimer contrat</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()" ></button>
</div>
   
     <div class="modal-body">

      <h3>Êtes-vous sûr de vouloir supprimer cette contrat ?</h3>
       
    
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger"(click)="close()" >Fermer</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deletedContarct()">Supprimer</button>
       </div>>
