<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Client</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>
    <form >
     <div class="modal-body">

      <!-- titel -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
       <!-- period -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">period</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
       <!-- budget -->
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">budget</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
       <!-- description -->
       <div class="mb-3 xl ">
        <label for="exampleInputEmail1" class="form-label">description</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <!-- client -->
      <div class="mb-3 ">
      <select class="form-select form-select-m" aria-label="Small select example">
        <option selected>Client</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      </div>
       
      <!-- freelancer -->
      <div class="mb-3 ">
      <select class="form-select form-select-m" aria-label="Small select example">
        <option selected>Freelancer</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Save changes</button>
       </div>
    </form>