<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">Add Contract</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>
  <form [formGroup]="form" (ngSubmit)="updated()">
   <div class="modal-body">
        <!-- title -->
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" formControlName="title" aria-describedby="emailHelp">
    </div>
    
    <!-- perdio -->
     <!-- perdio -->
     <div class="row">
      <div class="col-6">
        <label for="startDate">Start Date</label>
        <input class="form-control" type="date" id="startDate" formControlName="startDate">
      </div>
      <div class="col-6">
        <label for="endDate">End Date</label>
        <input class="form-control" type="date" id="endDate" formControlName="endDate">
      </div>
    </div>
     <!-- description -->
     <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label">Porject description</label>
      <textarea class="form-control" id="exampleInputEmail1" formControlName="project_description" aria-describedby="emailHelp"></textarea>
    </div>
   

  

     <!-- client -->
    <!-- <select class="form-select form-select-m mb-3" aria-label="Small select example" formControlName="client_id" (change)="eventlistclient($event)" >
      <option selected >Client</option>
      <option value="1" *ngFor="let cli of client" [value]="cli.id">{{cli.user.name}}</option>
     
    </select> -->
    <!-- freelancer -->
    <!-- <select class="form-select form-select-m mb-2" aria-label="Small select example" formControlName="freelancer_id" (change)="eventlistFreelancer($event)">
      <option selected>Freelancer</option>
      <option value="1" *ngFor="let item of freelancer" [value]="item.id">{{item.user.name}}</option>
  
    </select> -->
    
    </div>
     
    <h5 style="color: red; margin-left: 10px;">{{errorhandling}} </h5> 
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      <button type="submit" class="btn btn-success">Save changes</button>
     </div>
  </form>