




<body>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="../../../../assets/img/gallery/login.jpg"
              class="img-fluid" alt="Sample image">
          </div>

          <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1">

            <div class="our_solution_category">

                <div class="solution_cards_box">
                    
                <!--  -->
           
                <div class="solution_cards_box sol_card_top_3">
                    <h4>Inscrivez-vous gratuitement</h4>
                    <p>Choisissez votre profile :</p>

                    <a routerLink="client">
                  <div class="solution_card">
                    
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                          <img src="../../../../../assets/img/gallery/client-template-image.png" >
                    </div>
                    <div class="solu_title">
                      <h3>Client</h3>
                    </div>
                    <div class="solu_description">
                      <p>
                        J'ai un projet à résaliser
                      </p>
                    </div>
                  </div>
                </a>


                <a routerLink="freelancer">
                  <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                      <img src="../../../../../assets/img/gallery/freelancer-template-image.jpg" >
                    </div>
                    <div class="solu_title">
                      <h3>Freelancer</h3>
                    </div>
                    <div class="solu_description">
                      <p>
                        Je cherche des projets
                      </p>
                    </div>
                  </div>
                </a>

                <div class="text-center text-lg-start mt-4 pt-2">
                  <p class="small fw-bold mt-2 pt-1 mb-0">Avez-vous déjà un compte? <a routerLink="../login" class="link-danger">Se connecter</a></p>
                  <p class="small fw-bold mt-2 pt-1 mb-0"><a routerLink="../" class="link-danger">Retour à la page d'accueil</a></p>
                </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>