<body>
    <div class="container">
      <div class="row">
  
        <!-- Freelancer Information -->
        <div class="row" >
          <span class="col-lg-6">
            <app-freelancer-personal-infos></app-freelancer-personal-infos>
          </span>
          <span class="col-lg-6">
            <app-freelancer-about></app-freelancer-about>
          </span>
        </div>

        <!-- Freelancer Experience -->
        <div  class="row">
          <app-freelancer-experience></app-freelancer-experience>
        </div>
  
        <!-- Freelancer Skills -->
        <div  class="row">
          <app-freelancer-skills></app-freelancer-skills>
        </div>
  
        <!-- Freelancer Projects -->
        <div  class="row">
          <app-freelancer-projects-history></app-freelancer-projects-history>
        </div>
  
      </div>
    </div>
  </body>
  