<body>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="../../../../assets/img/gallery/forgot-password.png"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div
          class="mb-4 forget-password-container col-md-8 col-lg-6 col-xl-4 offset-xl-1"
        >
          <h2>Mot de passe oublié</h2>

          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="password">Nouveau mot de passe</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control"
              />
              <div
                *ngIf="
                  resetPasswordForm.get('password')?.hasError('required') &&
                  resetPasswordForm.get('password')?.touched
                "
                class="text-danger"
              >
                Mot de passe obligatoire.
              </div>
              <div
                *ngIf="
                  resetPasswordForm.get('password')?.hasError('minlength') &&
                  resetPasswordForm.get('password')?.touched
                "
                class="text-danger"
              >
                Le mot de passe doit être au moins 6 caractères.
              </div>
              <div
                *ngIf="
                  resetPasswordForm.get('password')?.hasError('passwordStrength') &&
                  resetPasswordForm.get('password')?.touched
                "
                class="text-danger"
              >
                Le mot de passe doit contenir au moins une majuscule, un
                caractère spécial et un chiffre.
              </div>
            </div>

            <div class="form-group">
              <label for="password_confirmation">Confirmer nouveau mot de passe</label>
              <input
                type="password"
                id="password_confirmation"
                formControlName="password_confirmation"
                class="form-control"
              />
              <div
                *ngIf="
                  resetPasswordForm.errors?.['passwordMismatch'] && 
                  resetPasswordForm.get('password_confirmation')?.touched
                "
                class="text-danger"
              >
                Les mots de passe ne correspondent pas.
              </div>
            </div>

            <button
              type="submit"
              class="mt-4 btn btn-outline-danger"
              [disabled]="!resetPasswordForm.valid || disabled"
            >
              Réinitialiser mot de passe
            </button>
          </form>

          <p class="small fw-bold mt-2 pt-1 mb-0">
            <a routerLink="../" class="link-danger"
              >Retour à la page d'accueil</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
