
   <div class="modal-header">
    <h2 class="modal-title fs-5" id="exampleModalLabel">Affecter un role au utilisateurs</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>

     <div class="modal-body">
      
       <h3>Roles</h3>
 
       <div class="form-group">
        <label for="roleSelect">Selectionner un role</label>
        <select class="form-control" id="roleSelect" (change)="eventlist($event)">
          <option *ngFor="let item of role" >{{item.name}}</option>
        </select>
      </div>
       <hr>
      
       <h3>utilisateurs</h3>
  
       <div class="form-group">
       <input type="text"  [value]="user?.name">
     
      </div>
      </div>
      <h5 style="color: red; margin-left: 10px;">{{errorhandling}} </h5> 
      <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="close()">Fermer</button>
      <button type="submit" class="btn btn-primary" (click)="gratroleToUser()">Ajouter</button>
     </div>
  