<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Add permission to Rols </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
   
     <div class="modal-body">
       <h3>all permissions</h3>
       
       <div>
        <ul><li> permission</li></ul>
       </div>
       <hr>
      
       <h3>add permission</h3>
  
       <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-danger">valide</button>
     </div>