<div class="card-box">
  <div class="tab-content">
    <div class="tab-pane show active" id="about-me">
      <h5 class="mb-4 text-uppercase">
        <span class="link-texts">
          <a routerLink="../post-open" 
          [ngClass]="{'text-primary': dataStatus === 'open'}">Mes offres</a> /
          <a routerLink="../post-waiting"
          [ngClass]="{'text-primary': dataStatus === 'waiting'}">Offres en attente</a> / 
          <a routerLink="../post-closed"
          [ngClass]="{'text-primary': dataStatus === 'closed'}">Offres terminé</a>
        </span>
      </h5>
      <div *ngIf="isLoading; else dataLoaded">
        <app-skeleton-loading></app-skeleton-loading>
      </div>
      <ng-template #dataLoaded>
        <div *ngIf="post.length === 0; else postList">
          <div class="container mb-3">
            <div class="card pb-0 px-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h5 class="card-title"><a>Vous n'avez aucun offre!</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- begin -->
        <ng-template  #postList>
          <span *ngIf="dataStatus === 'open'">
            <div  class="container mb-3"  *ngFor="let posts of post">
              <span *ngIf="posts.status ==='open'">
                <a [routerLink]="['../client-offer', posts.id]" >
              <div class="card pb-0 px-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="card-title">
                        {{ posts.title }}   <small> <span class="badge rounded-pill text-bg-success " role="alert" >  ouvert</span></small>
                      </h5>
                    </div>
                    <div class="col">
                      <h6 class="card-subtitle mb-2">
                        <p class="text-muted">{{ posts.description }}</p>
                        <p class="card-text text-muted">Crée il y a {{ posts.created_at | timeAgo }}  </p>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            </span>
            </div>
          </span>



          <span *ngIf="dataStatus === 'waiting'">
            <div  class="container mb-3"  *ngFor="let posts of post">
              <span *ngIf="posts.status ==='waiting'">
                <a [routerLink]="['../client-offer', posts.id]">
              <div class="card pb-0 px-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="card-title">
                        {{ posts.title }} <small> <span class="badge rounded-pill text-bg-warning " role="alert" > en attente</span></small>
                      </h5>
                    </div>
                    <div class="col">
                      <h6 class="card-subtitle mb-2">
                        <p class="text-muted">{{ posts.description }}</p>
                        <p class="card-text text-muted">Crée il y a {{ posts.created_at | timeAgo }}</p>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </a> 
            </span>
            </div>
          </span>




          <span *ngIf="dataStatus === 'closed'">
            <div  class="container mb-3"  *ngFor="let posts of post">
              <span *ngIf="posts.status ==='closed'">
              <div class="card pb-0 px-3">
                <a [routerLink]="['../client-offer', posts.id]">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="card-title">
                        {{ posts.title }} <small> <span class="badge rounded-pill text-bg-secondary " role="alert" > terminé</span></small>
                      </h5>
                    </div>
                    <div class="col">
                      <h6 class="card-subtitle mb-2">
                        <p class="text-muted">{{ posts.description }}</p>
                        <p class="card-text text-muted">Crée il y a {{ posts.created_at | timeAgo }}</p>
                      </h6>
                    </div>
                  </div>
                </div>
              </a>
              </div>
            </span>
            </div>
          </span>


        </ng-template>
        <!-- end -->
      </ng-template>
    </div>
  </div>
</div>
