<table class="table caption-top">
    <caption><h1>Post List</h1></caption>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Period</th>
            <th scope="col">Period Value</th>
            <th scope="col">Budget</th>
            <th scope="col">Budget Value</th>
            <th scope="col">Client ID</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
          </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of post">
        <th scope="row">{{item.id}}</th>
        <td>{{item.title}}</td>
        <td>{{item.location}}</td>
        <td>{{item.type}}</td>
        <td>{{item.description}}</td>
        <td>{{item.period}}</td>
        <td>{{item.periodvalue}}</td>
        <td>{{item.budget}}</td>
        <td>{{item.budgetvalue}}</td>
        <td>{{item.client_id}}</td>
        <td>{{item.created_at}}</td>
        <td>
          <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited(item.id,item)">
            <i class="fas fa-pen"></i> </button> 
         <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted(item.id, item)">
            <i class="fas fa-trash"></i></button>
            <!-- <button class="btn btn-secondary btn-sm" style="margin-right: 5px;" routerLink="./../viewPost" (click)="sendid(item.id)">
              <i class="bi bi-eye"></i></button> -->
        </td>
      </tr>
      
    </tbody>
</table> 


<!-- Backdrop -->
<div *ngIf="show" class="modal-backdrop fade show"></div>
<!-- add -->
<div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-m"><div class="modal-content">
<app-post-edit [postId]="selectedId" [posetObject]="selectedObject" (closeModal)="onCloseModal()"></app-post-edit>
  </div>
  </div>
  <!-- delete -->
  <div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-m"><div class="modal-content">
     <app-post-delete (closeModal)="onCloseModal()"></app-post-delete>
    </div>
  </div>  
  
  