<div class="container card-box mt-4" id="offerModal">
    <div *ngIf="successMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>

    <div *ngIf="isLoading" class="skeleton-loader">
        <div class="skeleton-header"></div>
        <div class="skeleton-image"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
      </div>
    
      <!-- Actual content -->
      <div *ngIf="!isLoading">
    <div class="row">
      <h4 class="col-lg-8">
        Details de l'offre
      </h4>
      <button class="btn btn-danger col-lg-4"
        (click)="postuler()"
        [disabled]="isButtonDisabled || offerExists || freelancerstatus === 'not verified'">
        {{ 
          offerExists ? 'Déjà postulé' : 
          (freelancerstatus === 'not verified' ? 'Pas encore vérifié!' : 
          (isButtonDisabled ? 'Envoi...' : 'Postuler'))
        }}
      </button>
    </div>
    <div class="container mt-5 mb-3">
      <div class="row text-center">
        <div>
          <h5 class=" text-muted text-uppercase">&#64;{{company_name}}</h5>
        </div>
        <img src="assets/img/gallery/company-image.jpg" alt="" class="img-fluid mx-auto small-image">
      </div>
      <hr>
      <div class="row">
        <h5 class="col-lg-4">Titre de l'offre :</h5>
        <h5 class="col-lg-8 text-muted">{{postdata?.title}}</h5>
      </div>
      <hr>
      <div class="row">
        <h5 class="col-lg-4">Nombre de freelancers:</h5>
        <h5 class="col-lg-8 text-muted">{{postdata?.freelancers_number}} freelancers</h5>
      </div>
      <hr>
      <div class="row">
        <h5 class="col-lg-4">Type de travail :</h5>
        <h5 class="col-lg-8 text-muted">
          {{ postdata?.type === 'fulltime' ? 'temps plein' : 'temps partiel' }}
        </h5>
      </div>
      <hr>
      <div class="row">
        <h5 class="col-lg-4">Compétences requis :</h5>
        <h5 class="col-lg-8 text-muted" >
          <span *ngFor="let skill of postdata?.skills" class="badge rounded-pill text-bg-secondary" role="alert">
            {{skill.title}}   
          </span> 
         
        </h5>
      </div>
      <hr>
      <div class="row">
        <h5 class="col-lg-4">Description de l'offre :</h5>
        <h5 class="col-lg-8 text-muted">{{postdata?.description}}</h5>
      </div>
      <hr>
      <div class="row">
        <h5 class="col-lg-4">Budget</h5>
        <h5 class="col-lg-8 text-muted">
          <span *ngIf="postdata?.budget === 'month'">{{postdata?.budgetvalue}} Dh par Mois</span>
          <span *ngIf="postdata?.budget === 'day'">{{postdata?.budgetvalue}} Dh par jours</span>
          <span *ngIf="postdata?.budgetvalue == 0">Pas encore défini</span>
        </h5>
      </div>
      <hr>
      <div class="row">
        <h5 class="col-lg-4">Periode</h5>
        <h5 class="col-lg-8 text-muted">
          <span *ngIf="postdata?.period === 'month'">{{postdata?.periodvalue}} Mois</span>
          <span *ngIf="postdata?.period === 'day'">{{postdata?.periodvalue}} jours</span>
          <span *ngIf="postdata?.periodvalue == 0">Pas encore défini</span>
        </h5>
      </div>
      <hr>
      <div class="row">
        <h5 class="col-lg-4">Crée le</h5>
        <h5 class="col-lg-8 text-muted">{{ postdata?.created_at | date: 'dd-MM-yyyy' }}</h5>
      </div>
      <hr>
    </div>


</div>

  </div>
  