<body>
  <div class="container">
    <div class="row">

      <!-- Freelancer Information -->
      <div class="row" >
        <span class="col-lg-6">
          <app-freelancer-information></app-freelancer-information>
        </span>
        <span class="col-lg-6">
          <app-freelancer-about></app-freelancer-about>
        </span>
      </div>



      <!-- Freelancer Experience -->
      <div  class="row">
        <app-freelancer-experience></app-freelancer-experience>
      </div>

      <!-- Freelancer Skills -->
      <div  class="row">
        <app-freelancer-skills></app-freelancer-skills>
      </div>

      <!-- Freelancer Projects -->
      <div  class="row">
        <app-freelancer-projects></app-freelancer-projects>
      </div>

    </div>
  </div>
</body>
