<body>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
      integrity="sha25 Mad6-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
      crossorigin="anonymous"
    />

    
    <section class="section">
      <div class="container">
        <nav aria-label="breadcrumb " >
          <ol class="breadcrumb ">
            <li class="breadcrumb-item text-danger "><a routerLink="../home">Acceuil</a></li>
            <li class="breadcrumb-item text-danger "><a routerLink="../client-dashboard">Client</a></li>
            <li class="breadcrumb-item active " aria-current="page">Voir liste freelancers</li>
          </ol>
        </nav>
        <div class="justify-content-center row">
          <h3 class="m-4">Découvrez nos talents !</h3>
          <div class="col-lg-12">
            <div class="candidate-list-widgets mb-4">
              <form action="#" class>
                <div class="g-2 row">
                  <div class="col-lg-3">
                    <div class="filler-job-form">
                      <i class="uil uil-briefcase-alt"></i
                      ><input
                        id="exampleFormControlInput1"
                        placeholder="Domaine d'expertise "
                        type="search"
                        class="form-control filler-job-input-box form-control"
                      />
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="filler-job-form">
                      <i class="uil uil-location-point"></i>
                      <select
                        class="form-select selectForm__inner"
                        data-trigger="true"
                        name="choices-single-location"
                        id="choices-single-location"
                        aria-label="Default select example"
                      >
                      <option value="4">--none--</option>
                        <option value="AF">Développement web</option>
                        <option value="AX">Application Desktop</option>
                        <option value="AL">Applications mobile</option>
                        <option value="AL">Design graphique</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="filler-job-form">
                      <i class="uil uil-clipboard-notes"></i>
                      <select
                        class="form-select selectForm__inner"
                        data-trigger="true"
                        name="choices-single-categories"
                        id="choices-single-categories"
                        aria-label="Default select example"
                      >
                      <option value="4">--none--</option>
                        <option value="4">Python </option>
                        <option value="1">JavaScript </option>
                        <option value="3">Java </option>
                        <option value="5">Ruby </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div>
                      <button class="btn btn-light" href="#"
                        ><i class="uil uil-filter"></i>Vider le filtre</button
                      ><button class="btn btn-danger ms-2" href="#"
                        ><i class="uil uil-cog"></i> Chercher</button
                      >
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="align-items-center row">
              <div class="col-lg-8">
                <div class="mb-3 mb-lg-0">
                  <h6 class="fs-16 mb-0"><span >
  
                  </span> Showing 1 – 8 of 11 results</h6>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="candidate-list-widgets">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="selection-widget">
                        <select
                          class="form-select"
                          data-trigger="true"
                          name="choices-single-filter-orderby"
                          id="choices-single-filter-orderby"
                          aria-label="Default select example"
                        >
                          <option value="df">Default</option>
                          <option value="ne">Newest</option>
                          <option value="od">Oldest</option>
                          <option value="rd">Random</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="selection-widget mt-2 mt-lg-0">
                        <select
                          class="form-select"
                          data-trigger="true"
                          name="choices-candidate-page"
                          id="choices-candidate-page"
                          aria-label="Default select example"
                        >
                          <option value="df">All</option>
                          <option value="ne">8 per Page</option>
                          <option value="ne">12 per Page</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="candidate-list">
              <div *ngIf="isLoading; else dataLoaded" class="card-box">
                <app-skeleton-loading></app-skeleton-loading>
                <br>
                <app-skeleton-loading></app-skeleton-loading>
                <br>
                <app-skeleton-loading></app-skeleton-loading>
              </div>
              <ng-template #dataLoaded>
                
                <div *ngFor="let freelancer of freelancers" class="candidate-list-box card mt-4">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <!-- Freelancer image -->
                      <div class="col-auto">
                        <div class="candidate-list-images">
                          <a [routerLink]="['../view-freelancerprofile', freelancer.id]">
                            <img src="assets/img/gallery/user-demo.png" alt class="avatar-md img-thumbnail rounded-circle" />
                          </a>
                        </div>
                      </div>
                
                      <!-- Freelancer details -->
                      <div class="col-lg-5">
                        <div class="candidate-list-content mt-3 mt-lg-0">
                          <a [routerLink]="['../view-freelancerprofile', freelancer.id]" class="text-dark text-decoration-none">
                            <h5 class="fs-19 mb-0">{{ getFirstName(freelancer.user.name) }}</h5>
                            <p class="text-muted mb-2">{{ freelancer.title }}</p>
                            <ul class="list-inline mb-0 text-muted">
                              <li class="list-inline-item"><i class="mdi mdi-map-marker"></i> {{ freelancer.city }}</li>
                              <li class="list-inline-item"><i class="mdi mdi-wallet"></i> {{ freelancer.TJM }} Mad / J</li>
                            </ul>
                          </a>
                        </div>
                      </div>
                
                      <!-- Freelancer skills -->
                      <div class="col-lg-4">
                        <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                          <span *ngFor="let skill of freelancer.skills" class="badge bg-soft-secondary fs-14 mt-1">
                            {{ skill.title }}
                          </span>
                        </div>
                      </div>
                    </div>
                
                    <!-- Favorite icon -->
                    <div class="favorite-icon position-absolute top-0 end-0 p-3">
                      <a (click)="toggleFavorite(freelancer.id)">
                        <i class="mdi mdi-heart fs-18" [ngClass]="{'text-danger': isFavorite(freelancer.id), 'text-muted': !isFavorite(freelancer.id)}"></i>
                      </a>
                    </div>
                    
                  </div>
                </div>
                
                
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div class="candidate-list-images">
                        <a href="#"
                          ><img
                            src="assets/img/gallery/user-profile-3.png"
                            alt
                            class="avatar-md img-thumbnail rounded-circle"
                        /></a>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-19 mb-0">
                          <a class="primary-link" routerLink="../view-freelancerprofile">Sami Q.</a
                          >
                        </h5>
                        <p class="text-muted mb-2">Software Engineer</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="mdi mdi-map-marker"></i> Casablanca
                          </li>
                          <li class="list-inline-item">
                            <i class="mdi mdi-wallet"></i> 50 Mad / H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div
                        class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"
                      >
                        <span class="badge bg-soft-secondary fs-14 mt-1"
                          >Leader</span
                        ><span class="badge bg-soft-secondary fs-14 mt-1"
                          >Manager</span
                        ><span class="badge bg-soft-secondary fs-14 mt-1"
                          >Developer</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="favorite-icon">
  
                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                  </div>
                </div>
              </div>
              <div class="candidate-list-box bookmark-post card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div class="candidate-list-images">
                        <a href="#"
                          ><img
                            src="assets/img/gallery/user-profile-1.png"
                            alt
                            class="avatar-md img-thumbnail rounded-circle"
                        /></a>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-19 mb-0">
                          <a class="primary-link" href="#">Hamid M.</a
                          >
                        </h5>
                        <p class="text-muted mb-2">HTML Developer</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="mdi mdi-map-marker"></i> Marrakech
                          </li>
                          <li class="list-inline-item">
                            <i class="mdi mdi-wallet"></i> 250 Mad / H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div
                        class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"
                      >
                        <span class="badge bg-soft-secondary fs-14 mt-1"
                          >Design</span
                        ><span class="badge bg-soft-secondary fs-14 mt-1"
                          >Developer</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="favorite-icon">
                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                  </div>
                </div>
              </div>
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div class="candidate-list-images">
                        <a href="#"
                          ><img
                            src="assets/img/gallery/user-profile-7.png"
                            alt
                            class="avatar-md img-thumbnail rounded-circle"
                        /></a>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-19 mb-0">
                          <a class="primary-link" href="#">Amine B. </a
                          >
                        </h5>
                        <p class="text-muted mb-2">Graphic Designer</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="mdi mdi-map-marker"></i> Marrakech
                          </li>
                          <li class="list-inline-item">
                            <i class="mdi mdi-wallet"></i> 380 Mad / H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div
                        class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"
                      >
                        <span class="badge bg-soft-secondary fs-14 mt-1"
                          >Design</span
                        ><span class="badge bg-soft-secondary fs-14 mt-1"
                          >Developer</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="favorite-icon">
                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                  </div>
                </div>
              </div>
              <div class="candidate-list-box bookmark-post card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div class="candidate-list-images">
                        <a href="#"
                          ><img
                            src="assets/img/gallery/user-profile-2.png"
                            alt
                            class="avatar-md img-thumbnail rounded-circle"
                        /></a>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-19 mb-0">
                          <a class="primary-link" href="#">Khalil A.</a
                          >
                        </h5>
                        <p class="text-muted mb-2">Education Training</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="mdi mdi-map-marker"></i> Tanger
                          </li>
                          <li class="list-inline-item">
                            <i class="mdi mdi-wallet"></i> 650 Mad / H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div
                        class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"
                      >
                        <span class="badge bg-soft-secondary fs-14 mt-1"
                          >Trainer</span
                        ><span class="badge bg-soft-secondary fs-14 mt-1"
                          >Adobe illustrator</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="favorite-icon">
                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                  </div>
                </div>
              </div>
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div class="candidate-list-images">
                        <a href="#"
                          ><img
                            src="assets/img/gallery/user-profile-4.png"
                            alt
                            class="avatar-md img-thumbnail rounded-circle"
                        /></a>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-19 mb-0">
                          <a class="primary-link" href="#">Ali k.</a
                          >
                        </h5>
                        <p class="text-muted mb-2">Restaurant Team Member</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="mdi mdi-map-marker"></i> Marrakech
                          </li>
                          <li class="list-inline-item">
                            <i class="mdi mdi-wallet"></i> 125 Mad / H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div
                        class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"
                      >
                        <span class="badge bg-soft-secondary fs-14 mt-1"
                          >Trainer</span
                        ><span class="badge bg-soft-secondary fs-14 mt-1"
                          >Adobe illustrator</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="favorite-icon">
                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                  </div>
                </div>
              </div>
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div class="candidate-list-images">
                        <a href="#"
                          ><img
                            src="assets/img/gallery/user-profile-5.png"
                            alt
                            class="avatar-md img-thumbnail rounded-circle"
                        /></a>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-19 mb-0">
                          <a class="primary-link" href="#">Zakaria D.</a
                          >
                        </h5>
                        <p class="text-muted mb-2">Assistant / Store Keeper</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="mdi mdi-map-marker"></i> Fes
                          </li>
                          <li class="list-inline-item">
                            <i class="mdi mdi-wallet"></i> 455 Mad / H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div
                        class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"
                      >
                        <span class="badge bg-soft-secondary fs-14 mt-1"
                          >Trainer</span
                        ><span class="badge bg-soft-secondary fs-14 mt-1"
                          >Adobe illustrator</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="favorite-icon">
                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                  </div>
                </div>
              </div>
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div class="candidate-list-images">
                        <a href="#"
                          ><img
                            src="assets/img/gallery/user-profile-6.png"
                            alt
                            class="avatar-md img-thumbnail rounded-circle"
                        /></a>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-19 mb-0">
                          <a class="primary-link" href="#">Jaouad H.</a
                          >
                        </h5>
                        <p class="text-muted mb-2">Executive, HR Operations</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="mdi mdi-map-marker"></i> Casablanca
                          </li>
                          <li class="list-inline-item">
                            <i class="mdi mdi-wallet"></i> 799 Mad / H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div
                        class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"
                      >
                        <span class="badge bg-soft-secondary fs-14 mt-1"
                          >Trainer</span
                        ><span class="badge bg-soft-secondary fs-14 mt-1"
                          >Adobe illustrator</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="favorite-icon">
                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                  </div>
                </div>
              </div>
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div class="candidate-list-images">
                        <a href="#"
                          ><img
                            src="assets/img/gallery/user-profile-f.png"
                            alt
                            class="avatar-md img-thumbnail rounded-circle"
                        /></a>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-19 mb-0">
                          <a class="primary-link" href="#">Karima F. </a
                          >
                        </h5>
                        <p class="text-muted mb-2">Full Stack Engineer</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="mdi mdi-map-marker"></i> safi
                          </li>
                          <li class="list-inline-item">
                            <i class="mdi mdi-wallet"></i> 240 Mad / H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div
                        class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"
                      >
                        <span class="badge bg-soft-secondary fs-14 mt-1"
                          >Trainer</span
                        ><span class="badge bg-soft-secondary fs-14 mt-1"
                          >Adobe illustrator</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="favorite-icon">
                    <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                  </div>
                </div>
              </div>
            </ng-template>
            </div>
          </div>
        
        </div>
        <div class="row">
          <div class="mt-4 pt-2 col-lg-12">
            <nav aria-label="Page navigation example">
              <div
                class="pagination job-pagination mb-0 justify-content-center"
              >
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1" href="#"
                    ><i class="mdi mdi-chevron-double-left fs-15"></i
                  ></a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"
                    ><i class="mdi mdi-chevron-double-right fs-15"></i
                  ></a>
                </li>
              </div>
            </nav>
          </div>
        </div>
      </div>
      
    </section>
  
  </body>