body {
    
    font-family: "Rubik", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #F53838;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}
.card-box {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    padding: 1.5rem;
    
    border-radius: .25rem;
}
#main-text{
    font-size: 25px;
    
}

a{
    text-decoration: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  background-color: #333; /* Arrow color */
  border-radius: 50%; /* Makes the arrows circular */
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-prev-icon {
  margin-right: 155px; /* Spacing between icon and text */
}

.carousel-control-next-icon {
  margin-left: 10px; /* Spacing between icon and text */
}

.visually-hidden {
  /* Visually hide the text */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
