<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Permission </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
    <form [formGroup]="form" (submit)="add()">
     <div class="modal-body">

      <!-- Username -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">permession</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
      </div>

      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" data-bs-dismiss="modal" >Save changes</button>
       </div>
    </form>