<div  class="container">

  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add">
    <i class="fas fa-download fa-sm text-white-50"></i> Add admin
  </button>
  <app-admin-table ></app-admin-table>
     
</div>

  <!-- add -->
  <div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-admin-add></app-admin-add>
    </div>
   </div>
  </div>