<div  class="container">
  <table class="table caption-top">
    <caption><h1>Admins List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">role</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td><button class="btn btn-primary">modifie</button></td>
      </tr>
      
    </tbody>
</table>    
</div>

