<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">edit Role</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>
  <form [formGroup]="form" (submit)="updated()"  >
   <div class="modal-body">

    <!-- Username -->
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Role</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
    </div>

 
     
    <!-- permission -->
    <div>
      <label for="">Permissions</label>
      <hr>
   
      <app-rolechips-autocomplete></app-rolechips-autocomplete>
    </div>
    </div>
    <h5 style="color: red; margin-left: 10px;">{{errorhandling}} </h5> 
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Save changes</button>
     </div>
  </form>