<body>

    <div class="container p-4">
      
      <span>
        <nav aria-label="breadcrumb " >
          <ol class="breadcrumb ">
            <li class="breadcrumb-item text-danger "><a routerLink="../home">Acceuil</a></li>
            <li class="breadcrumb-item text-danger "><a routerLink="../offers">Voir offres</a></li>
            <li class="breadcrumb-item active " aria-current="page">Mon profile</li>
          </ol>
        </nav>
        <h3 class="mt-3 mb-3">Profile Freelancer</h3>
      </span>
      <div class="row">
        <div class="col-lg-4 col-xl-4">

          <app-freelancer-sideprofile></app-freelancer-sideprofile>

        </div>
      
        <div class="col-lg-8 col-xl-8">



            <router-outlet></router-outlet>

        </div>
    </div>
  </div>
</body>
