<body>

    <div class="container p-4">
      
      <span>
        <a routerLink="../view-freelancers" class="text-danger"> 
          <i class="fas fa-arrow-left"></i> Retour
        </a>
        <h3 class="mt-3 mb-3">Profile Freelancer</h3>
      </span>
      <div class="row">
        <div class="col-lg-4 col-xl-4">

            <div class="card-box text-center">

                <img
                  src="assets/img/gallery/user-profile-3.png"
                  class="rounded-circle avatar-xl img-thumbnail"
                  alt="profile-image"
                />
                <h4 class="mb-0">Sami Q.</h4>
                <p class="text-muted">Dédveloppeur web<br> <span> 50 MAD / H</span></p>
                
                <div class="row ">
            
              <div class="side-links"> 
                <ul class="list-group list-group-flush text-start p-4">
                  <li class="list-group-item mt-2 "> <h2 ><i class="bi bi-gear"></i> Paramètres</h2></li>
                  <li class="list-group-item mt-2 "> <a routerLink="../freelancer-profile">Mes infromations</a></li>
                  <li class="list-group-item mt-2"><a routerLink="freelancer-offers">Mes offres</a></li>
                  <li class="list-group-item mt-2"><a routerLink="freelancer-contracts">Mes contacts</a></li>
                    <!-- <li class="list-group-item mt-2 text-center">  
                            <button
                            type="button"
                            class="btn btn-danger btn-lg waves-effect m-2 waves-light">
                            completer mon profile 
                            </button> 
                    </li> -->
                </ul>
              </div>
            
            
              </div>
                <div class="text-left mt-3">
                  
                </div>

              </div>


        </div>
      
        <div class="col-lg-8 col-xl-8">



            <router-outlet></router-outlet>

        </div>
    </div>
  </div>
</body>
