<!-- offer-form.component.html -->
<div class="container mt-4">
  <!-- Breadcrumb navigation -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item text-danger"><a routerLink="../home">Accueil</a></li>
      <li class="breadcrumb-item text-danger"><a routerLink="../client-dashboard">Client</a></li>
      <li class="breadcrumb-item active" aria-current="page">Création offre</li>
    </ol>
  </nav>
</div>

<div class="container card mt-4">
  <div class="py-5 text-center">
    <h2>Poster une offre, et laisser le reste pour nous !</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Détails de l'offre</h4>

      <!-- Offer form -->
      <form [formGroup]="form" (ngSubmit)="addoffer()">
        <!-- Title -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <div *ngIf="form.get('title')?.invalid && form.get('title')?.touched" class="text-danger">
              Titre est obligatoire.
            </div>
          </div>
        </div>

        <!-- Location and Type -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="location">Localisation</label>
            <select class="form-control" id="location" formControlName="location">
              <option *ngFor="let city of cities" [value]="city">{{city}}</option>
            </select>
            <div *ngIf="form.get('location')?.invalid && form.get('location')?.touched" class="text-danger">
              Choisissez une localisation.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="type">Type</label>
            <select class="form-control" id="type" formControlName="type">
              <option value="fulltime">Plein temps</option>
              <option value="partime">Temps partiel</option>
            </select>
            <div *ngIf="form.get('type')?.invalid && form.get('type')?.touched" class="text-danger">
              Choisissez un type.
            </div>
          </div>
        </div>

        <!-- Number of Freelancers and Skills -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="freelancers_number">Nombre de freelancers</label>
            <input type="number" class="form-control" id="freelancers_number" formControlName="freelancers_number" min="1" max="100">
            <div *ngIf="form.get('freelancers_number')?.invalid && form.get('freelancers_number')?.touched" class="text-danger">
              Remplissez le nombre de freelancers.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="skills">Compétences requis</label>
            <app-skillchips (skillsSelected)="onSkillsSelected2($event)"></app-skillchips>
            <div *ngIf="selectedSkills.length" class="mt-2">
              <span class="badge badge-primary mr-1" *ngFor="let skill of selectedSkills">{{ skill }}</span>
            </div>
          </div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3" formControlName="description" (input)="onDescriptionInput()"></textarea>
          <small class="text-danger" *ngIf="characterCount < 30 ">{{ characterCount }}/30 caractères</small>
          <small class="text-muted" *ngIf="characterCount > 30 || characterCount == 30">{{ characterCount }}/30 caractères</small>
          <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="text-danger">
            Description est obligatoire .
          </div>
        </div>

        <!-- Period -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="period">Période</label>
            <select class="form-control" id="period" formControlName="period" (change)="onSelectChange($event)"> 
              <option value="undefined" selected>Indéfini</option>
              <option value="day">Par jour</option>
              <option value="month">Par Mois</option>
            </select>
            <div *ngIf="form.get('period')?.invalid && form.get('period')?.touched" class="text-danger">
              Choisissez une période.
            </div>
          </div>

          <!-- Hidden div Période -->
          <div *ngIf="selectedPeriod == 'day' || selectedPeriod == 'month'" class="mb-3 col-6">
            <label for="definedperiode">Durée de votre période</label>
            <input type="number" class="form-control" id="definedperiode" formControlName="periodvalue" min="0">
            <div *ngIf="form.get('periodvalue')?.invalid && form.get('periodvalue')?.touched" class="text-danger">
              Durée de la période est obligatoire.
            </div>
          </div>
        </div>

        <!-- Budget -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="budget">Budget</label>
            <select class="form-control" id="budget" formControlName="budget" (change)="onBudgetChange($event)">
              <option value="undefined" selected>Indéfini</option>
              <option value="day">Par jour</option>
              <option value="month">Par Mois</option>
            </select>
            <div *ngIf="form.get('budget')?.invalid && form.get('budget')?.touched" class="text-danger">
              Choisissez un budget.
            </div>
          </div>

          <!-- Hidden div budget -->
          <div *ngIf="selectedBudget == 'day' || selectedBudget == 'month'" class="mb-3 col-6">
            <label for="definedBudget">Montant de votre budget</label>
            <input type="number" class="form-control" id="definedBudget" formControlName="budgetvalue" min="0">
            <div *ngIf="form.get('budgetvalue')?.invalid && form.get('budgetvalue')?.touched" class="text-danger">
              Montant du budget est obligatoire.
            </div>
          </div>
        </div>

        <hr class="mb-4">

        <!-- Button when isSubmitting is true -->
        <button *ngIf="isSubmitting" class="btn btn-danger btn-lg btn-block mb-4" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Création...
        </button>

        <!-- Button when isSubmitting is false -->
        <button *ngIf="!isSubmitting" class="btn btn-outline-danger btn-lg btn-block mb-4" type="submit" [disabled]="form.invalid || isSubmitting || characterCount < 30"> 
          Poster !
        </button>
      </form>
    </div>
  </div>
</div>
