<table class="table caption-top">
    <caption><h1>Contracts List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">title</th>
        <th scope="col">period</th>
        <th scope="col">buget</th>
        <th scope="col">description</th>
        <th scope="col">client</th>
        <th scope="col">freelancer</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of contract">
        <th scope="row">{{item.id}} </th>
        <td>{{item.title}}</td>
        <td>{{item.period}}</td>
        <td>{{item.budget}}</td>
        <td>{{item.project_description}}</td>
        <td>{{item.client_id}} </td>
        <td>{{item.freelancer_id}}</td>
        <td>
          <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited()">
            <i class="fas fa-pen"></i> </button> 
         <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted(item.id,item)">
            <i class="fas fa-trash"></i></button>

            
      
        </td>
      </tr>
    </tbody>
</table>
<div *ngIf="show" class="modal-backdrop fade show"></div>

  <!-- edit -->
  <div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m"><div class="modal-content">
  <app-contract-edit (closeModal)="onCloseModal()"></app-contract-edit>
  </div>
  </div>
  </div>

  <!-- delete -->
  <div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m"><div class="modal-content">
  <app-contract-delete (closeModal)="onCloseModal()" [idContract]="selectedIdContract" ></app-contract-delete>
  </div>
  </div>  
  