<table  class="table caption-top" >
    <caption><h1>Clients List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col">Profission</th>
        <th scope="col">email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody >
       
      <tr *ngFor="let client of clients">
        <th scope="row">{{client.id}}</th>
        <td>{{client.user.name}}</td>
        <td>{{client.profession}}</td>
        <td>{{client.user.email}}</td>
      
        <td > 
             <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal"  data-bs-target="#edit" style="margin-right: 5px;"  (click)="trackClient(client,client.id)">
              <i class="fas fa-pen"></i> 
             </button>  
             <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete" (click)="trackClient(client,client.id)">
              <i class="fas fa-trash"></i> 
             </button>
        </td>
      </tr>
     
    </tbody>
</table>  



  <!-- edit -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-client-edit  [clientId]="selecteID"  [clientName]="selecteName" ></app-client-edit>
  </div>
</div>
</div>
<!-- delete -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-client-delete   [clientId]="selecteID"  [clientName]="selecteName" ></app-client-delete>
  </div>
</div>  

