
<div class="search-bar">
  <input 
    type="text" 
    class="form-control" 
    placeholder="Search client by name or email" 
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchTermChange()">
</div>

<table  class="table caption-top" >
    <caption><h1>Clients List</h1></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">Profession</th>
        <th scope="col">Company Name </th>
        <th scope="col">Activity</th>
        <th scope="col">Company Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody >
       
      <tr *ngFor="let client of filteredCleint">
        <th scope="row">{{client.id}}</th>
        <td>{{client.user.name}}</td>
        <td>{{client.user.email}}</td>
        <td>{{client.profession}}</td>
        <td>{{client.company_name}}</td>
        <td>{{client.company_activity}}</td>
        <td>{{client.company_email}}</td>
        <td>
          <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited(client.id,client)">
            <i class="fas fa-pen"></i> </button> 
         <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted(client.id, client)">
            <i class="fas fa-trash"></i></button>
      
        </td>
      </tr>
     
    </tbody>
</table>  


<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
      <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [ngClass]="{'active': i + 1 === currentPage}">
      <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
    </li>

    <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
      <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div *ngIf="show" class="modal-backdrop fade show"></div>

  <!-- edit -->
  <div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-client-edit  [clientId]="selecteID"  [clientObject]="selecteName" (closeModal)="onCloseModal()" ></app-client-edit>
  </div>
</div>
</div>
<!-- delete -->
<div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-client-delete   [clientId]="selecteID"  [clientName]="selecteName" (closeModal)="onCloseModal()"></app-client-delete>
  </div>
</div>  

