
<div class="modal-header">
    <h2 class="modal-title fs-5" id="exampleModalLabel">Ajouter un role utilisateur</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
</div>

<form  (ngSubmit)="gratroleToPermession()">
    <div class="modal-body">
      <h3>Roles</h3>
      <div class="form-group">
        <label for="roleSelect">Role</label>
        <select class="form-control" id="roleSelect" (change)="eventlist($event)">
          <option *ngFor="let item of role" >{{item.name}}</option>
        </select>
      </div>
      <hr>
      <h3>Permission</h3>
      <div class="form-group">
        <label for="permissionInput">Permission</label>
        <input type="text" id="permissionInput" class="form-control" placeholder="Enter permission" [value]="permissionData?.name">
      </div>
      <h5 style="color: red; margin-left: 10px;">{{errorhandling}}</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="close()">Fermer</button>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
  </form>
  