<div class="modal-header" >
    <h2 class="modal-title fs-5" id="exampleModalLabel">Modifier un client</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()" ></button>
</div>
    <form [formGroup]="form" (ngSubmit)="updated()">
     <div class="modal-body">

      <!-- Username -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nom complet</label>
        <input type="text" class="form-control" id="Input1" aria-describedby="emailHelp" formControlName="name">
      </div>
      <!-- Profession -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Profession</label>
        <input type="text" class="form-control" id="Input2" aria-describedby="emailHelp" formControlName="profession">
      </div>
      
       <!-- email -->
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="Input3" aria-describedby="emailHelp"  formControlName="email"> 
   
      </div>
    <!-- company name -->
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Nom d'entreprise</label>
        <input type="text" class="form-control" id="Input3" aria-describedby="emailHelp"  formControlName="company_name">
    <!-- activity -->
      </div>
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Activité de l'entreprise</label>
        <input type="text" class="form-control" id="Input3" aria-describedby="emailHelp"  formControlName="company_activity"> 
   
       </div>
    <!-- company Email -->
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Email de l'entreprise</label>
        <input type="email" class="form-control" id="Input3" aria-describedby="emailHelp"  formControlName="company_email"> 
      </div>
      </div>
      <h5 style="color: red; margin-left: 10px;">{{errorhandling}} </h5> 

      <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="close()">Fermer</button>
      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
     </div>
    </form>