<div class="modal-header" >
    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Client</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
</div>
    <form [formGroup]="form" (ngSubmit)="updated()">
     <div class="modal-body">

      <!-- Username -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" id="Input1" aria-describedby="emailHelp" formControlName="name">
      </div>
      <!-- Profession -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Profission</label>
        <input type="text" class="form-control" id="Input2" aria-describedby="emailHelp" formControlName="profession">
      </div>
      
       <!-- email -->
      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="Input3" aria-describedby="emailHelp"  formControlName="email"> 
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
     </div>
    </form>