<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="dashboard">

        <div class="sidebar-brand-text mx-3">Pulse.Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="dashboard">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="bi bi-people-fill"></i>
        Utilisateurs
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="admin">
            <i class="bi bi-file-person"></i>
            <span>Admins</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="client">
            <i class="bi bi-person-video3"></i>
            <span>Clients</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="freelancer">
            <i class="bi bi-person-workspace"></i>
            <span>Freelancers</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="bi bi-briefcase-fill"></i>
        Management
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="contract">
            <i class="bi bi-chevron-bar-contract"></i>
            <span>Contrats</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="post-open">
            <i class="bi bi-postcard-fill"></i>
            <span>Posts</span>
        </a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link collapsed" routerLink="offer">
            <i class="bi bi-postcard-fill"></i>
            <span>Offer</span>
        </a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="pack">
            <i class="bi bi-postcard-fill"></i>
            <span>Packs</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="mailing">
            <i class="bi bi-chat-left-dots-fill"></i>
            <span>Mailing</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="bi bi-universal-access-circle"></i>
        Accessibilité
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="users">
            <i class="bi bi-person-check-fill"></i>
            <span>Utilisateurs</span>
        </a>
    </li>

        <!-- <li class="nav-item">
            <a class="nav-link collapsed" routerLink="role">
                <i class="bi bi-person-rolodex"></i>
                <span>Roles</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="permission">
                <i class="bi bi-check2-square"></i>
                <span>Permissions</span>
            </a>
        </li> -->

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="manageskills">
            <i class="bi bi-check2-square"></i>
            <span>Skills</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
<!-- End of Sidebar -->
