 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3" >Pulse.Admin  </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="dashboard">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="bi bi-people-fill"></i>
        Users
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="admin" >
            <i class="bi bi-file-person"></i>
            <span>Admins</span>
        </a>
        
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="client" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="bi bi-person-video3"></i>
            <span>Clients</span>
        </a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="freelancer" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="bi bi-person-workspace"></i>
            <span>Freelancers</span>
        </a>
        
    </li>

   
    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="bi bi-briefcase-fill"></i>
        Work
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="contract" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="bi bi-chevron-bar-contract"></i>
            <span>Contract</span>
        </a>
        
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="offer" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="bi bi-postcard-fill"></i>
            <span>Offers</span>
        </a>
        <a class="nav-link collapsed" routerLink="mailing" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="bi bi-chat-left-dots-fill"></i>
        <span>Mailing</span>
    </a>
    </li>

    <!-- Nav Item - Tables -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="bi bi-universal-access-circle"></i>
        accessibility
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="users" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="bi bi-person-check-fill"></i>
            <span>Users</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="role" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="bi bi-person-rolodex"></i>
            <span>Roles</span>
        </a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="permission" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="bi bi-check2-square"></i>
            <span>Permissions</span>
        </a>
        
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
<!-- End of Sidebar -->