.sidebar {

  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  z-index: 1;
  background-color: #4e73df; /* Adjust color as needed */
  padding-top: 1rem;
}

.sidebar-brand-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar-brand-icon {
  font-size: 1.75rem;
  color: #000000; /* Adjust color as needed */
}

.sidebar-heading {
  font-size: 0.875rem;
  color: #fff;
  padding: 0.75rem 1rem;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Adjust color as needed */
}

.nav-link .bi {
  margin-right: 10px;
  font-size: 1.25rem;
}

.sidebar-divider {
  margin: 0.5rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* Adjust color as needed */
}

.sidebar-divider.d-none.d-md-block {
  display: block !important;
}

a{
  text-decoration: none;
}