<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
  integrity="sha25 Mad6-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
  crossorigin="anonymous"
/>

<div class="card-box">
  <h5 class="mb-4 mt-4 text-uppercase">
    <span class="link-texts">Liste des favoris</span>
  </h5>

  <div class="mb-3 mt-4">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      placeholder="Rechercher des favoris..."
    />
  </div>

  <div class="candidate-list-widgets mb-4 mt-4">
    <div *ngFor="let freelancer of paginatedFreelancers" class="candidate-list-box card mt-4">
      <div class="card-body">

        <div class="row align-items-center">
          
          <!-- Freelancer image -->
          <div class="col-auto">
            <a [routerLink]="['../../view-freelancerprofile', freelancer.id]">
            <div class="candidate-list-images">
      
                <img
                  src="assets/img/gallery/user-demo.png"
                  alt
                  class="avatar-md img-thumbnail rounded-circle"
                />
              
            </div>
          </a>
          </div>

          <!-- Freelancer details -->
          <div class="col-lg-5">
            <a [routerLink]="['../../view-freelancerprofile', freelancer.id]">
            <div class="candidate-list-content mt-3 mt-lg-0">
                <h5 class="fs-19 mb-0">{{ getFirstName(freelancer.user.name) }}</h5>
                <p class="text-muted mb-2">{{ freelancer.title }}</p>
                <ul class="list-inline mb-0 text-muted">
                  <li class="list-inline-item">
                    <i class="mdi mdi-map-marker"></i> {{ freelancer.city }}
                  </li>
                  <li class="list-inline-item">
                    <i class="mdi mdi-wallet"></i> {{ freelancer.TJM }} Mad / J
                  </li>
                </ul>
            </div>
          </a>
          </div>

          <!-- Freelancer skills -->
          <div class="col-lg-4">
            <a [routerLink]="['../../view-freelancerprofile', freelancer.id]">
            <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
              <span *ngFor="let skill of freelancer.skills" class="badge bg-soft-secondary fs-14 mt-1">
                {{ skill.title }}
              </span>
            </div>
          </a>
          </div>
        
        </div>

        <!-- Favorite icon -->
        <div class="favorite-icon position-absolute top-0 end-0 p-3">
          <a (click)="toggleFavorite(freelancer.id)">
            <i class="mdi mdi-heart fs-18 text-danger" ></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
        <a class="page-link" (click)="previousPage()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li
        class="page-item"
        *ngFor="let page of getPageNumbers()"
        [ngClass]="{ active: currentPage === page }"
      >
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [ngClass]="{ disabled: currentPage === totalPages }">
        <a class="page-link" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
