<div class="card-box text-center">
    <div class="text-end ">
        <span class="col-6"><h4><a (click)="openModalEdit()" class="text-danger" style="cursor: pointer;"><i class="bi bi-pencil-square"></i></a></h4></span>
    </div>
    <img
      src="https://bootdey.com/img/Content/avatar/avatar1.png"
      class="rounded-circle avatar-xl img-thumbnail"
      alt="profile-image"
    />
    <h4 class="mb-0">Sami Q.</h4>
    <p class="text-muted">Software Engineer <br> <span> 50 MAD / H</span></p>
    
    <div class="row ">

  <div class="side-links"> 
    <ul class="list-group list-group-flush text-start p-4">
      <li class="list-group-item mt-2 "> <h2 ><i class="bi bi-gear"></i> Paramètres</h2></li>
      <li class="list-group-item mt-2 "> <a routerLink="../freelancer-profile">Mes infromations</a></li>
      <li class="list-group-item mt-2"><a routerLink="../freelancer-dashboard/freelancer-offers">Mes offres</a></li>
      <li class="list-group-item mt-2"><a routerLink="../freelancer-dashboard/freelancer-contracts">Mes contacts</a></li>
        <li class="list-group-item mt-2 text-center">  
                <button
                type="button"
                class="btn btn-danger btn-lg waves-effect m-2 waves-light">
                completer le profile 
                </button> 
        </li>
    </ul>
  </div>


  </div>
    <div class="text-left mt-3">
      
      <!-- <p class="text-muted mb-2 font-13">
          <strong>Full Name :</strong>
          <span class="ml-2">Nik G. Patel</span>
        </p>
        <p class="text-muted mb-2 font-13">
          <strong>Mobile :</strong
          ><span class="ml-2">(123) 123 1234</span>
        </p>
        <p class="text-muted mb-2 font-13">
          <strong>Email :</strong>
          <span class="ml-2"
            ><a
              href="/cdn-cgi/l/email-protection"
              class="__cf_email__"
              data-cfemail="572224322517323a363e3b7933383a363e39"
              >[email&#160;protected]</a
            ></span
          >
        </p>
        <p class="text-muted mb-1 font-13">
          <strong>Location :</strong> <span class="ml-2">Maroc</span>
        </p> -->
    </div>
    <!-- <ul class="social-list list-inline mt-3 mb-0">
        <li class="list-inline-item">
          <a
            href="javascript: void(0);"
            class="social-list-item border-purple text-purple"
            ><i class="fab fa-facebook"></i
          ></a> 
        </li> 
        <li class="list-inline-item"> 
          <a  
            href="javascript: void(0);" 
            class="social-list-item border-danger text-danger"  
            ><i class="fab fa-google"></i   
          ></a>
        </li>
        <li class="list-inline-item">
          <a    
            href="javascript: void(0);"
            class="social-list-item border-info text-info"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a
            href="javascript: void(0);"
            class="social-list-item border-secondary text-secondary"
            ><i class="fab fa-github"></i
          ></a>
        </li>
      </ul> -->


  </div>
  
      <!-- modal edit -->
      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayEdit}">
        <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                          <h4 class="modal-title">Informations personnelle</h4>
                          <button type="button" class="close btn btn-light" aria-label="Close" (click)="onCloseHandledEdit()"><span aria-hidden="true">&times;</span></button>
                        </div>
              <div class="modal-body">
                          <app-update-freelancer-personal-infos></app-update-freelancer-personal-infos>
                        </div>

          </div>
            </div>
        </div>

          <!-- end modal edit -->