<div class="card-box text-center">
  <div *ngIf="isLoading; else dataLoaded">
    <app-skeleton></app-skeleton>
  </div>
  <ng-template #dataLoaded>

    <span  class="badge rounded-pill text-bg-warning text-muted" role="alert">
       {{ getStatus() }}
    </span><br><br>
    <!-- <div class="text-end " >
        <span class="col-6"><h4><a (click)="openModalEdit(freelancerdata,freelancerdata?.id)" class="text-danger" style="cursor: pointer;"><i class="bi bi-pencil-square"></i></a></h4></span>
    </div> -->
    <img
      src="assets/img/gallery/user-profile-3.png"
      class="rounded-circle avatar-xl img-thumbnail"
      alt="profile-image"
    />
   
    <h4 class="mb-0" name="name" >{{freelancerdata?.user?.name}}</h4>

    <p class="text-muted" name="title" >{{freelancerdata?.title}}<br> <span name="TJM"> TJM : {{freelancerdata?.TJM}} Mad</span></p>
    
    <div class="row ">

  <div class="side-links"> 
    <ul class="list-group list-group-flush text-start p-4">
      <li class="list-group-item mt-2 "> <h2 ><i class="bi bi-gear"></i> Paramètres</h2></li>
      <li class="list-group-item mt-2 "> <a routerLink="../freelancer-profile">Mes infromations</a></li>
      <li class="list-group-item mt-2"><a routerLink="../freelancer-dashboard/freelancer-offers">Mes offres</a></li>
      <li class="list-group-item mt-2"><a routerLink="../freelancer-dashboard/freelancer-contracts">Mes contacts</a></li>
        <!-- <li class="list-group-item mt-2 text-center">  
                <button
                type="button"
                class="btn btn-danger btn-lg waves-effect m-2 waves-light">
                completer mon profile 
                </button> 
        </li> -->
    </ul>
  </div>


  </div>
    <div class="text-left mt-3">
      
    </div>

    </ng-template>

  </div>

  
      <!-- modal edit -->
      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayEdit}">
        <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                          <h4 class="modal-title">Informations personnelle</h4>
                          <button type="button" class="close btn btn-light" aria-label="Close" (click)="onCloseHandledEdit()"><span aria-hidden="true">&times;</span></button>
                        </div>
              <div class="modal-body">
                          <app-update-freelancer-personal-infos [freelancerObject]="selectedData" [freelancerID]="selectedID"></app-update-freelancer-personal-infos>
                        </div>

          </div>
            </div>
        </div>

          <!-- end modal edit -->