<div class="card-box">
  <div class="row mt-4 mb-4">
    <span class="col-6 d-flex justify-content-start"
      ><h5 class="text-uppercase">Informations</h5></span
    >
    <span class="col-6 d-flex justify-content-end">
      <h4 class="col-6">
        <a
          (click)="onEdited(freelancerdata?.id, freelancerdata)"
          class="text-danger"
          style="cursor: pointer"
          ><i class="bi bi-pencil-square"></i
        ></a>
      </h4>
    </span>

    <!-- Skeleton loader -->
    <div *ngIf="isLoading" class="container mb-3">
      <div class="pb-0 px-3 skeleton-card" *ngFor="let i of [1]">
        <div class="card-body">
          <div class="skeleton-title"></div>
          <div class="skeleton-description"></div>
          <div class="skeleton-budget"></div>
          <div class="skeleton-description"></div>
          <div class="skeleton-budget"></div>
        </div>
      </div>
    </div>
  </div>

  <p class="text-muted font-13 mb-3">
    <!-- <div *ngIf="showEdit" class="modal-backdrop fade show"></div> -->

    <!-- User Info Display -->
  </p>

  <div class="user-info" *ngIf="!isLoading">
    <div class="form-group">
      <label>Nom : </label>
      <span class="sp">{{ freelancerdata?.user?.name }}</span>
    </div>
    <div class="form-group">
      <label>Email : </label>
      <span>{{ freelancerdata?.user?.email }}</span>
    </div>
    <div class="form-group">
      <label>Titre : </label>
      <span class="sp">{{ freelancerdata?.title }}</span>
    </div>
    <div class="form-group">
      <label>Date de naissance : </label>
      <span class="sp">{{ freelancerdata?.dateOfBirth }}</span>
    </div>
    <div class="form-group">
      <label>Ville : </label>
      <span class="sp">{{ freelancerdata?.city }}</span>
    </div>
    <div class="form-group">
      <label>TJM : </label>
      <span class="sp">{{ freelancerdata?.TJM }}</span>
    </div>
    <div class="form-group">
      <label>Disponibilité : </label>
      <span class="sp">{{ freelancerdata?.availability }}</span>
    </div>
    <div class="form-group">
      <label>Address : </label>
      <span class="sp">{{ freelancerdata?.adress }}</span>
    </div>
    <div class="form-group">
      <label>Téléphone : </label>
      <span class="sp">{{ freelancerdata?.phone }}</span>
    </div>
    <div class="form-group">
      <label>Portfolio URL : </label>
      <span class="sp">{{ freelancerdata?.portfolio_Url }}</span>
    </div>
  </div>
</div>

<div *ngIf="show" class="modal-backdrop fade show"></div>

<!-- modal edit -->
<!-- <div class="modal" tabindex="-1" role="dialog" aria-modal="true" *ngIf="showedit"> -->
<div
  *ngIf="showedit"
  class="modal fade show"
  tabindex="-1"
  style="display: block"
  aria-labelledby="exampleModalLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <app-freelancer-update-personal-infos
        [freelancerData]="selectedData"
        [freelancerID]="selectedID"
        (closeModal)="onCloseModal()"
      ></app-freelancer-update-personal-infos>
    </div>
  </div>
</div>

<!-- end modal edit -->
