<table class="table caption-top">
    <caption><h2>Liste des offres</h2></caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Id post</th>
        <th scope="col">Id freelancer</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offers; let i = index">
        <th scope="row" >{{i + 1}}</th>
        <td>{{offer.selected}}</td>
        <td>{{offer.post_id}} </td>
        <td>{{[offer.freelancer_id]}}</td>
        <td>
          <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="onEdited()">
            <i class="fas fa-pen"></i> </button> 
         <button class="btn btn-danger btn-sm" style="margin-right: 5px;" (click)="ondeleted()">
            <i class="fas fa-trash"></i></button>
      
        </td>
      </tr>
      
    </tbody>
</table> 

<div *ngIf="show" class="modal-backdrop fade show"><button (click)="onCloseModal()"></button></div>


  <!-- edit -->
  <div *ngIf="showedit" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-offer-edit [offerId]="slecteID" [offerObject]="selectedData" (closeModal)="onCloseModal()"></app-offer-edit>
  </div>
</div>
</div>
<!-- delete -->
<div *ngIf="showedelete" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-m"><div class="modal-content">
    <app-offer-delete [offerID]="slecteID" [offerData]="selectedData" (closeModal)="onCloseModal()"></app-offer-delete>
  </div>
</div>  
