<div class="card-box">
    <!-- <ul class="nav nav-pills navtab-bg ">
        <li class="nav-item ">
          <a
            href="#about-me"
            data-toggle="tab"
            aria-expanded="true"
            class="nav-link ml-0 active"
          >
             About Me
          </a>
        </li>
        <li class="nav-item ">
          <a
            href="#settings"
            data-toggle="tab"
            aria-expanded="false"
            class="nav-link"
          >
            <i class="mdi mdi-settings-outline mr-1"></i>Settings
          </a>
        </li>
      </ul> -->

    <div class="tab-content">
      <div class="tab-pane show active" id="about-me">
        <div class="row  mb-4" >
        
            <span class="col-lg-11 col-sm-6 col-md-6"><h5 class="text-uppercase">Experience</h5></span>
            <span class="col-lg-1 col-sm-6 col-md-6">
                <div class="row">
                    <h4 class="col-6"><a (click)="openModalAdd()" class="text-danger" style="cursor: pointer;"><i class="bi bi-plus-circle"></i></a></h4>
                    <h4 class="col-6"><a (click)="openModalEdit()" class="text-danger" style="cursor: pointer;"><i class="bi bi-pencil-square"></i></a></h4>
               
                </div>
              </span>
              
        </div>
        <ul class="list-unstyled timeline-sm">
          <li class="timeline-sm-item">
            <span class="timeline-sm-date">2015 - 19</span>
            <h5 class="mt-0 mb-1">Developpeur web</h5>
            <p>Amnestia SRL.</p>
            <p class="text-muted mt-2">
              J'ai été impliqué dans la conception et le développement d'une 
              application mobile pour une entreprise de services, permettant
               aux utilisateurs de gérer leurs commandes et leurs paiements de manière intuitive. 
               Ce projet a impliqué l'utilisation de technologies telles que React Native pour 
               le développement cross-platform et Firebase pour la gestion des données en temps réel.
            </p>
          </li>
          <li class="timeline-sm-item">
            <span class="timeline-sm-date">2012 - 15</span>
            <h5 class="mt-0 mb-1">Developpeur frontend</h5>
            <p>Software Inc.</p>
            <p class="text-muted mt-2">
              J'ai dirigé une équipe chargée de migrer l'infrastructure 
              d'une entreprise vers le cloud. Cela comprenait l'évaluation des besoins,
               la planification de la migration, et l'implémentation sur AWS (Amazon Web Services).
                Nous avons optimisé les performances et réduit les coûts d'exploitation tout en assurant 
                une haute disponibilité et une sécurité renforcée des données.
            </p>
          </li>
          <li class="timeline-sm-item">
            <span class="timeline-sm-date">2010 - 12</span>
            <h5 class="mt-0 mb-1">Developpeur Backend</h5>
            <p>Coderthemes LLP</p>
            <p class="text-muted mt-2 mb-0">
              J'ai développé un CMS personnalisé pour une agence de marketing, 
              offrant des fonctionnalités avancées de gestion de contenu,
               d'édition collaborative et de publication automatisée sur plusieurs plateformes. 
               Le système a été conçu pour être évolutif et facilement adaptable aux besoins spécifiques des clients
                de l'agence.
            </p>
          </li>
        </ul>
        
      </div>
    </div>


        <!-- modal add -->
        <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayAdd}">
          <div class="modal-dialog" role="document">
                <div class="modal-content">
                      <div class="modal-header">
                            <h4 class="modal-title">Expérience</h4>
                            <button type="button" class="close btn btn-light" aria-label="Close" (click)="onCloseHandledAdd()"><span aria-hidden="true">&times;</span></button>
                          </div>
                <div class="modal-body">
                            <app-freelancer-add-experience></app-freelancer-add-experience>
                          </div>

            </div>
              </div>
        </div>

          <!-- end modal add -->




     <!-- modal edit -->
     <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayEdit}">
      <div class="modal-dialog" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h4 class="modal-title">Expérience</h4>
                        <button type="button" class="close btn btn-light" aria-label="Close" (click)="onCloseHandledEdit()"><span aria-hidden="true">&times;</span></button>
                      </div>
            <div class="modal-body">
                        <app-freelancer-update-experience></app-freelancer-update-experience>
                      </div>

        </div>
          </div>
      </div>

        <!-- end modal edit -->





  </div>