<div  class="container">
    <button type="button" class="btn btn-primary btn-sm" (click)="onAdd()">
        <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter pack
      </button>
    <app-pack-table></app-pack-table>
  </div>
    
  <div *ngIf="show" class="modal-backdrop fade show"></div>
  <!-- add -->
  <div  *ngIf="showadd" class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-m"><div class="modal-content">
      <app-pack-add (closeModal)="onCloseModal()"></app-pack-add>
    </div>
   </div>
  </div>