

<div class="container ">
  <h2>Envoyer un message</h2>
  <hr>
<form [formGroup]="from" (ngSubmit)="send()" class=" justify-content-center align-item-center">
    <div class="form-group col-7">
      <label for="exampleFormControlInput1">Email</label>
      <input  type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="{{email}}">
    </div>
    <div class="form-group col-7">
      <label for="exampleFormControlSelect1">Nom complet</label>
      <select class="form-control" id="exampleFormControlSelect1" (change)="eventlist($event)">
       <option *ngFor="let user of users" [value]="user.email">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group col-7">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="message"></textarea>
    </div>
    <div class="d-flex justify-content-center mt-4 ">
      <button type="submit" class="btn btn-primary" >Envoyer</button>
    </div>
  </form>
</div>