<body>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="../../../../assets/img/gallery/login.jpg"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>
          <form [formGroup]="applyForm" (ngSubmit)="submitApplication($event)">
            <div
              class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
            >
              <p class="lead fw-normal mb-4 me-3">Se connecter  :</p>
              <!-- <button type="button" class="btn btn-danger btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button> -->
            </div>
            <!-- <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Ou</p>
            </div> -->
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="email"
                id="form3Example3"
                class="form-control form-control-lg"
                placeholder="Entrer votre adresse mail"
                formControlName="email"
              />
              <label class="form-label" for="form3Example3">Adresse mail</label>
              <div
                *ngIf="
                  applyForm.get('email')?.invalid &&
                  (applyForm.get('email')?.touched || isSubmitting)
                "
                class="text-danger"
              >
                Adresse mail invalide.
              </div>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input
                type="password"
                id="form3Example4"
                class="form-control form-control-lg"
                placeholder="Entrer votre mot de passe"
                formControlName="password"
              />
              <label class="form-label" for="form3Example4">Mot de passe</label>
              <div
                *ngIf="
                  applyForm.get('password')?.invalid &&
                  (applyForm.get('password')?.touched || isSubmitting)
                "
                class="text-danger"
              >
                Mot de passe requis.
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0"></div>
              <a routerLink="/forgot-password" class="text-body"
                >Mot de passe oublié?</a
              >
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button
              *ngIf="!isSubmitting"
                class="btn btn-danger btn-lg btn-block mb-4"
                type="submit"
                [disabled]="applyForm.invalid"
              >
                Se connecter !
              </button>

              <button *ngIf="isSubmitting" class="btn btn-danger btn-lg btn-block mb-4" type="button" disabled>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Connexion...
              </button>


              <p class="small fw-bold mt-2 pt-1 mb-0">
                Vous n'avez pas de compte?
                <a class="link-danger" routerLink="../register"
                  >Créer un compte</a
                >
              </p>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                <a routerLink="../" class="link-danger"
                  >Retour à la page d'accueil</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
